<script setup>
import { useAuthStore } from '@/stores/auth';
import { storeToRefs } from 'pinia';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { ref, reactive } from 'vue';
import AppConfig from '@/layout/AppConfig.vue';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';

const store = useAuthStore();
const { tryRucLogin } = store;
const { hasLoggedInWithRuc, isLoggedIn, loginErrorMessage } = storeToRefs(store);

const invalidRuc = ref(false);
const invalidCredentials = ref(false);
const isLoading = ref(false);

const formData = reactive({
    userName: '',
    password: '',
    ruc: ''
});

const rules = {
    userName: { required: helpers.withMessage(messages.required, required) },
    password: { required: helpers.withMessage(messages.required, required) },
    ruc: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(rules, formData);

 
const handleLogin = async () => {
    const result = await v$.value.$validate();
    // EB 20/07/2023 cambie el && y por || or, para evitar peticiones a la api si no se completa el campo usuario y contraseña
    const error = !!v$.value.userName?.$errors?.[0] || !!v$.value.password?.$errors?.[0];

    // console.log('what happen :' + error);
    // return;
    if (!error) {
        isLoading.value = true;
        await store.tryLogin({
            user: formData.userName,
            pass: formData.password
        });

        isLoading.value = false;

        if (isLoggedIn.value) {
            router.push('/');
        } else {
            invalidCredentials.value = true;
        }
    }
};

const onExitClick = () => {
    location.reload();
};
</script>

<template>
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                    <div class="text-center mb-5">
                        <img src="/ag/images/logo.jpg" alt="Image" height="150" class="mb-3" />
                        <div class="text-900 text-3xl font-medium mb-3">Bienvenido a SAU</div>
                         
                        <span class="text-600 font-medium"> Ingrese sus credenciales</span>  
                    </div>

                    <div>
                        <div v-if="!hasLoggedInWithRuc">
                            <div class="flex flex-column mb-3">
                                <!-- <label for="usuario1" class="block text-900 text-xl font-medium mb-2">Usuario</label> -->
                                <label for="usuario1" class="block text-900 text-xl font-medium">Usuario</label>
                                <InputText id="usuario" type="text" placeholder="Usuario" class="w-full md:w-30rem" style="padding: 1rem" v-model="formData.userName"  @keyup.enter="handleLogin" />
                                <ErrorMessages :errors="v$.userName.$errors" />
                            </div>

                            <div class="flex flex-column mb-3">
                                <label for="password1" class="block text-900 font-medium text-xl">Contraseña</label>
                                <Password id="password1" v-model="formData.password" placeholder="Contraseña" :toggleMask="true" class="w-full mb-3" inputClass="w-full" inputStyle="padding:1rem"  @keyup.enter="handleLogin"> </Password>
                                <div class="flex flex-row justify-content-between mt-2">
                                 </div>
                                <ErrorMessages :errors="v$.password.$errors" />
                                <!-- <small v-if="invalidCredentials" class="text-red-600 text-sm font-bold">Credenciales inválidas</small> codigo original y modificado por EB 20/07/2023 -->
                                <!-- <Message v-if="invalidCredentials" severity="warn" sticky>Las credenciales son incorrectas </Message> -->
                                <Message v-if="invalidCredentials" severity="warn" sticky>{{ loginErrorMessage }}</Message>
                            </div>
                            <br />
                            <div v-if="isLoading" class="flex flex-row justify-center">
                                <ProgressSpinner />
                            </div>
                            <Button v-else @click="handleLogin" label="Iniciar sesión" class="w-full p-3 text-xl mb-2"></Button>
                            <Button @click="onExitClick()" label="Salir" class="w-full p-3 text-xl"></Button>
                        </div>
                        <div v-else>
                            <label for="ruc" class="block text-900 text-xl font-medium">RUC</label>
                            <InputText id="ruc" type="text" placeholder="Número de RUC" class="w-full md:w-30rem" style="padding: 1rem" v-model="formData.ruc" @keyup.enter="handleRucLogin" />
                            <ErrorMessages :errors="v$.ruc.$errors" />
                            <!-- Mostrar el componente Message cuando el RUC sea inválido -->
                            <Message v-if="invalidRuc" severity="warn" sticky>{{ loginErrorMessage }}</Message>
                            <!-- <small v-if="invalidRuc" class="text-red-600 text-sm font-bold">Ruc inválido</small> codigo original y modificado por EB 20/07/2023-->

                            <br />
                            <br />
                            <br />
                            <div v-if="isLoading" class="flex flex-row justify-center">
                                <ProgressSpinner />
                            </div>
                            <Button v-else @click="handleRucLogin" label="Ingresar" class="w-full p-3 text-xl"></Button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <AppConfig simple />
</template>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>
