<script setup>
import { ref, onMounted } from 'vue';
import { getDepositos, getDepositosCSV } from '@/http/depositos/depositos-api';
import { formatNumber } from '@/utils/functions';
import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';

const registros = ref([]);
const totalRows = ref(0);
const actualPage = ref(1);
const search = ref(null);

const onSearch = async (searchValue) => {
    actualPage.value = 1;
    search.value = searchValue;

    await fetchData();
};

const onCSV = async () => {
    await getDepositosCSV({ search: search.value });
};

const onPage = async (e) => {
    actualPage.value = e.page + 1;
    await fetchData();
};

const fetchData = async () => {
    try {
        const data = await getDepositos({
            pagina: actualPage.value,
            search: search.value
        });

        registros.value = data.data;

        //SE RESTA 20 POR LA DIFERENCIA DE OFFSET
        //  totalRows.value = data.meta.total_records - 20;
        totalRows.value = data.meta.total_records;
    } catch (error) {
        console.error('Error:', error);
    }
};

const onRowClick = (event) => {
    const depositoId = event.data.id;

    router.push({ name: 'deposito', params: { id: depositoId } });
};

const onADD = (event) => {
    router.push({ name: 'deposito-insert' });
};

onMounted(fetchData);
</script>

<template>
    <div class="grid my-2">
        <div class="col-12">
            <h5 class="text-blue-500 text-2xl text-center">Depósitos</h5>
            <SearchFilter @search="onSearch" @csv="onCSV" @add="onADD"></SearchFilter>
            <DataTable
                :value="registros"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer"
                :rows="20"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="55vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
                :currentPageReportTemplate="`{first} al {last} de {totalRecords} registros   -   Pagina: {currentPage} de {totalPages}`"
                @row-click="onRowClick"
            >
                <Column field="id" header="ID" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.descripcion" header="Nombre" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.limite_valor_stock" header="Límite de Valor Stock" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.estado" header="Estado" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <template #body="slotProps">
                        {{ slotProps.data.attributes.estado == 'A' ? 'ACTIVO' : 'INACTIVO' }}
                    </template>
                </Column>
                <Column field="attributes.tipo" header="Tipo" headerClass="text-white bg-blue-500 text-sm  " bodyClass=" text-black text-sm ">
                    <template #header> </template>
                    <template #body="slotProps">
                        {{ slotProps.data.attributes.tipo == 'F' ? 'FISICO' : 'VIRTUAL' }}
                    </template>
                </Column>
            </DataTable>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}
</style>
