<script setup>
import { onMounted, reactive, ref } from 'vue';
import { getDeposito, updateDeposito, insertDeposito, deleteDeposito, getMaxDepositoId } from '@/http/depositos/depositos-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const id = router.currentRoute.value.params.id;

const form = reactive({ deposito: null });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});
const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData] = await fetchData(() => Promise.all([getDeposito(form.deposito)]));
    Object.assign(form, { ...familyData.data[0].attributes });
};

const validationRules = {
    descripcion: { required: helpers.withMessage(messages.required, required) },
    usuario_responsable: { required: helpers.withMessage(messages.required, required) },
    celular_responsalbe: { required: helpers.withMessage(messages.required, required) },
    email_responsable: { required: helpers.withMessage(messages.required, required) },
    tipo: { required: helpers.withMessage(messages.required, required) },
    estado: { required: helpers.withMessage(messages.required, required) },
    limite_valor_stock: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const handleDelete = async () => {
    try {
        const result = await deleteDeposito({ id: form.deposito });

        if (result.status === 204) {
            toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
        } else {
            toast.add({ severity: 'error', summary: 'Error al Eliminar', life: 2000 });
        }

        setTimeout(() => {
            onClose();
        }, TIME_CLOSE);
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (id && form.deposito) {
                result = await updateDeposito({ ...form, id: form.deposito });
                console.log('handleSave update');
            } else {
                result = await insertDeposito(form);
                console.log('handleSave insert');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

const initializeComponent = async () => {
    try {
        form.deposito = router.currentRoute.value.params.id;

        if (!form.deposito) {
            const maxIdResponse = await getMaxDepositoId();
            if (maxIdResponse && maxIdResponse.data[0] && maxIdResponse.data[0].attributes) {
                const maxId = parseInt(maxIdResponse.data[0].attributes.maxID) + 1;
                form.deposito = maxId;
            } else {
                form.deposito = 1;
            }
        } else {
            await fetchFamilyData();
        }
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Depósito</h5>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Depósito</label>
                    <InputText v-model="form.deposito" id="id" type="text" class="text-xs text-center" disabled />
                </div>

                <div class="field col-12 md:col-5 px-1">
                    <label for="descripcion">Nombre</label>
                    <InputText v-model="form.descripcion" id="descripcion" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.descripcion.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-right">
                    <label for="limite_valor_stock">Límite Stock</label>
                    <InputNumber input-class="text-right" v-model="form.limite_valor_stock" id="limite_valor_stock" :maxFractionDigits="6" />
                    <ErrorMessages :errors="v$.limite_valor_stock.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="">Tipo</label>
                    <Dropdown
                        class="text-xs"
                        id="clase"
                        v-model="form.tipo"
                        :options="[
                            { name: 'FISICO', code: 'F' },
                            { name: 'VIRTUAL', code: 'V' }
                        ]"
                        optionLabel="name"
                        optionValue="code"
                        placeholder=""
                        :style="{ width: '100%' }"
                    ></Dropdown>
                    <ErrorMessages :errors="v$.tipo.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="">Estado</label>
                    <Dropdown
                        class="text-xs"
                        id="clase"
                        v-model="form.estado"
                        :options="[
                            { name: 'ACTIVO', code: 'A' },
                            { name: 'INACTIVO', code: 'I' }
                        ]"
                        optionLabel="name"
                        optionValue="code"
                        placeholder=""
                        :style="{ width: '100%' }"
                    ></Dropdown>
                    <ErrorMessages :errors="v$.estado.$errors" />
                </div>
                <div class="field col-12 md:col-5 px-1">
                    <label for="usuario_responsable">Responsable</label>
                    <InputText v-model="form.usuario_responsable" id="usuario_responsable" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.usuario_responsable.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="celular_responsalbe">Celular</label>
                    <InputText v-model="form.celular_responsalbe" id="celular_responsalbe" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.celular_responsalbe.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="email_responsable">Correo</label>
                    <InputText v-model="form.email_responsable" id="email_responsable" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.email_responsable.$errors" />
                </div>
                <div class="field col-12 md:col-10 px-1">
                    <label for="">Notas</label>
                    <Textarea v-model="form.notas" rows="2" id="notas" type="text" class="text-xs" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose"></FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}
</style>
