<script setup>
import { ref, onMounted, reactive } from 'vue';
import { getParametrosGenerales, updateParametrosGenerales } from '@/http/parametros/parametros-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const form = reactive({});

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const errorMessage = ref('');

// Crear refs para las propiedades específicas
const checkedAAVenta = ref();
const checkedAACobro = ref();
const checkedAACompra = ref();
const checkedAAMov = ref();
const checkedAANC = ref();
const checkedAAOP = ref();

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData] = await fetchData(() => Promise.all([getParametrosGenerales()]));

    Object.assign(form, { ...familyData.data.attributes });

    if (form.asiento_automatico_ventas === 'S') {
        checkedAAVenta.value = true;
    } else {
        checkedAAVenta.value = false;
    }

    if (form.asiento_automatico_cobros === 'S') {
        checkedAACobro.value = true;
    } else {
        checkedAACobro.value = false;
    }

    if (form.asiento_automatico_compras === 'S') {
        checkedAACompra.value = true;
    } else {
        checkedAACompra.value = false;
    }

    if (form.asiento_automatico_nc_ventas === 'S') {
        checkedAANC.value = true;
    } else {
        checkedAANC.value = false;
    }

    if (form.asiento_automatico_op === 'S') {
        checkedAAOP.value = true;
    } else {
        checkedAAOP.value = false;
    }

    if (form.asiento_automatico_movimientos === 'S') {
        checkedAAMov.value = true;
    } else {
        checkedAAMov.value = false;
    }
};

const validationRules = {
    empresa_contable: { required: helpers.withMessage(messages.required, required) },
    ejercicio_fiscal: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

// Función para manejar el cambio en el valor del checkbox
const handleCheckboxChange = () => {
    // Realizar la lógica necesaria para convertir el valor 'checked' de true a 'S' o de false 'N' y asignar en la columna de la base de datos
    form.asiento_automatico_ventas = checkedAAVenta.value ? 'S' : 'N';
    form.asiento_automatico_cobros = checkedAACobro.value ? 'S' : 'N';
    form.asiento_automatico_op = checkedAAOP.value ? 'S' : 'N';
    form.asiento_automatico_compras = checkedAACompra.value ? 'S' : 'N';
    form.asiento_automatico_movimientos = checkedAAMov.value ? 'S' : 'N';
    form.asiento_automatico_nc_ventas = checkedAANC.value ? 'S' : 'N';
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (form.estacion) {
                result = await updateParametrosGenerales({ ...form, id: form.estacion });
                console.log('handleSave update');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

const initializeComponent = async () => {
    try {
        await fetchFamilyData();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="p-fluid formgrid mb-2">
            <div class="card surface-300 my-3 bg-white">
                <h5 class="text-blue-500 text-2xl text-center">Parametros del Sistema</h5>
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">Estación</label>
                        <InputText v-model="form.estacion" id="" type="text" class="text-xs text-center" disabled />
                    </div>
                    <div class="field col-12 md:col-5 px-1">
                        <label for="">Nombre</label>
                        <InputText v-model="form.nombre" id="" type="text" class="text-xs" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">Sucursal</label>
                        <InputText v-model="form.sucursal" id="" rows="4" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-5 px-1">
                        <label for="precio_venta">Dirección</label>
                        <InputText v-model="form.direccion" id="" type="text" class="text-xs" />
                    </div>
                    <div class="field col-12 md:col-3 px-1">
                        <label for="">Localidad</label>
                        <InputText v-model="form.localidad" id="" type="text" class="text-xs" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Teléfono</label>
                        <InputText v-model="form.telefono" id="" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">RUC</label>
                        <InputText v-model="form.ruc" id="" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-right">
                        <label for="">Cotización</label>
                        <InputNumber id="cotizacion" input-class="text-right" v-model="form.cotizacion" :minFractionDigits="0" :maxFractionDigits="5" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Timbrado</label>
                        <InputMask id="timbrado" v-model="form.timbrado" mask="9.999.999" placeholder="9.999.999" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Prefijo</label>
                        <InputText v-model="form.prefijo_factura" id="" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Validez</label>
                        <Calendar v-model="form.validez" id="" showIcon />
                    </div>
                    <div class="field col-12 md:col-4 px-1">
                        <label for="">Leyenda 1</label>
                        <InputText v-model="form.leyenda1" id="" type="text" class="text-xs" />
                    </div>
                    <div class="field col-12 md:col-4 px-1">
                        <label for="">Leyenda 2</label>
                        <InputText v-model="form.leyenda2" id="" type="text" class="text-xs" />
                    </div>
                </div>
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Inicio Periodo</label>
                        <Calendar v-model="form.inicio_periodo" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Final Periodo</label>
                        <Calendar v-model="form.final_periodo" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>

                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">E. Contable</label>
                        <InputText v-model="form.empresa_contable" id="" type="text" class="text-xs text-center" />
                        <ErrorMessages :errors="v$.empresa_contable.$errors" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">E. Fiscal</label>
                        <InputText v-model="form.ejercicio_fiscal" id="" type="text" class="text-xs text-center" />
                        <ErrorMessages :errors="v$.ejercicio_fiscal.$errors" />
                    </div>
                    <div class="field col-12 md:col-3 px-1">
                        <label for="">Directorio para Docs. Digitalizados</label>
                        <InputText v-model="form.direccion_digitalizacion" id="" type="text" class="text-xs" />
                    </div>

                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">T. Dash.</label>
                        <InputNumber id="timer_dashboard" input-class="text-center" v-model="form.timer_dashboard" :minFractionDigits="0" :maxFractionDigits="5" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">T. Aud.</label>
                        <InputNumber id="timer_auditoria" input-class="text-center" v-model="form.timer_auditoria" :minFractionDigits="0" :maxFractionDigits="5" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">T. Cierre</label>
                        <InputNumber id="timer_cierre_ventanas" input-class="text-center" v-model="form.timer_cierre_ventanas" :minFractionDigits="0" :maxFractionDigits="5" />
                    </div>
                </div>
            </div>
        </div>
        <div class="p-fluid formgrid mb-2">
            <div class="card surface-300 bg-white">
                <h5 class="text-blue-500 text-base">Permisos Operativos</h5>
                <!-- <div class="p-fluid formgrid grid"> -->
                <div class="p-fluid">
                    <div class="flex align-items-center">
                        <!-- <Checkbox v-model="checked" :binary="true" /> -->
                        <Checkbox v-model="checkedAAVenta" :binary="true" @change="handleCheckboxChange" />
                        <label for="" class="ml-2"> Asiento Automático para Ventas</label>
                    </div>
                    <div class="flex align-items-center">
                        <!-- <Checkbox v-model="checked" :binary="true" /> -->
                        <Checkbox v-model="checkedAACobro" :binary="true" @change="handleCheckboxChange" />
                        <label for="" class="ml-2"> Asiento Automático para Cobros</label>
                    </div>
                    <div class="flex align-items-center">
                        <!-- <Checkbox v-model="checked" :binary="true" /> -->
                        <Checkbox v-model="checkedAACompra" :binary="true" @change="handleCheckboxChange" />
                        <label for="" class="ml-2"> Asiento Automático para Compras</label>
                    </div>
                    <div class="flex align-items-center">
                        <!-- <Checkbox v-model="checked" :binary="true" /> -->
                        <Checkbox v-model="checkedAANC" :binary="true" @change="handleCheckboxChange" />
                        <label for="" class="ml-2"> Asiento Automático para Notas de Crédito de Ventas</label>
                    </div>
                    <div class="flex align-items-center">
                        <!-- <Checkbox v-model="checked" :binary="true" /> -->
                        <Checkbox v-model="checkedAAOP" :binary="true" @change="handleCheckboxChange" />
                        <label for="" class="ml-2"> Asiento Automático para Ordenes de Pago</label>
                    </div>
                    <div class="flex align-items-center">
                        <!-- <Checkbox v-model="checked" :binary="true" /> -->
                        <Checkbox v-model="checkedAAMov" :binary="true" @change="handleCheckboxChange" />
                        <label for="" class="ml-2"> Asiento Automático para Movimientos Bancarios</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-buttons">
        <FormButtons @save="handleSave" @close="onClose"></FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

.ml-2 {
    font-size: 15px !important;
}
.p-fluid > div {
    margin-bottom: 5px; /* Ajusta el valor según tus necesidades */
}
</style>
