<script setup>
import { onMounted, reactive, ref } from 'vue';
import { getFamilia, getProductosFamilia, deleteFamilia, insertFamilia, updateFamilia, getMaxFamiliaId } from '@/http/familias/familias-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { useCuentasContablesStore } from '@/stores/dropdowns/contabilidadDropdown';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const id = router.currentRoute.value.params.id;

// Usa la función para crear una instancia del store
const contabilidadStore = useCuentasContablesStore();

const form = reactive({
    familia: null
});

const toast = useToast();

const productsIndex = reactive([]);
const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});
const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData, familyProducts] = await fetchData(() => Promise.all([getFamilia(form.familia), getProductosFamilia({ id: form.familia })]));
    Object.assign(form, { ...familyData.data[0].attributes });
    productsIndex.push(...familyProducts);
};

const validationRules = {
    nombre: { required: helpers.withMessage(messages.required, required) },
    cuenta_contable: { required: helpers.withMessage(messages.required, required) },
    cuenta_contable_compra: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const handleDelete = async () => {
    try {
        const result = await deleteFamilia({ id: form.familia });

        if (result.status === 204) {
            toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
        } else {
            toast.add({ severity: 'error', summary: 'Error al Eliminar', life: 2000 });
        }

        setTimeout(() => {
            onClose();
        }, TIME_CLOSE);
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (id && form.familia) {
                result = await updateFamilia({ ...form, id: form.familia });
                console.log('handleSave update');
            } else {
                result = await insertFamilia(form);
                console.log('handleSave insert');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

const initializeComponent = async () => {
    try {
        form.familia = router.currentRoute.value.params.id;

        if (!form.familia) {
            const maxIdResponse = await getMaxFamiliaId();
            if (maxIdResponse && maxIdResponse.data[0] && maxIdResponse.data[0].attributes) {
                const maxId = parseInt(maxIdResponse.data[0].attributes.maxID) + 1;
                form.familia = maxId;
            } else {
                form.familia = 1;
            }
        } else {
            await fetchFamilyData();
        }
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
    try {
        await contabilidadStore.fetchCuentasContables(); // Esta línea llama a la función del store
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Familia</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Familia</label>
                    <InputText v-model="form.familia" id="id" type="text" class="text-xs text-center" disabled />
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-5 px-1">
                    <label for="nombre">Descripción</label>
                    <InputText v-model="form.nombre" id="nombre" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.nombre.$errors" />
                </div>
                <div class="field col-12 md:col-3 px-1 text-center">
                    <label for="cuenta_contable">Cta. Contable p/ Ventas</label>
                    <Dropdown class="text-xs" v-model="form.cuenta_contable" :options="contabilidadStore.cuentasContables" optionLabel="name" optionValue="code" placeholder="Seleccione una cuenta contable">
                        <template #option="slotProps">
                            <div class="text-xs">{{ slotProps.option.name }} - {{ slotProps.option.code }}</div>
                        </template>
                    </Dropdown>
                    <ErrorMessages :errors="v$.cuenta_contable.$errors" />
                </div>
                <div class="field col-12 md:col-3 px-1 text-center">
                    <label for="cuenta_contable_compra">Cta. Contable p/ Compras</label>
                    <Dropdown class="text-xs" v-model="form.cuenta_contable_compra" :options="contabilidadStore.cuentasContables" optionLabel="name" optionValue="code" placeholder="Seleccione una cuenta contable">
                        <template #option="slotProps">
                            <div class="text-xs">{{ slotProps.option.name }} - {{ slotProps.option.code }}</div>
                        </template>
                    </Dropdown>
                    <ErrorMessages :errors="v$.cuenta_contable_compra.$errors" />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="flex justify-content-center align-items-center mb-1 gap-2">
                <h5 class="text-blue-500 text-base">Productos asignados a esta Familia</h5>
            </div>
            <DataTable :value="productsIndex" paginator :rows="5" dataKey="id" tableStyle="min-width: 50rem">
                <Column field="producto" header="Producto" headerClass="text-white bg-blue-500 text-sm shadow"></Column>

                <Column field="nombre_comercial" header="Nombre Comercial" headerClass="text-white bg-blue-500 text-sm shadow"></Column>
                <template #footer> Total de Items: {{ productsIndex ? productsIndex.length : 0 }} productos. </template>
            </DataTable>
        </div>
    </div>
    <div>
        <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose"></FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 15px !important;
}
</style>
