<script setup>
import { onMounted, computed, reactive, ref } from 'vue';
import { getParametrosGenerales } from '@/http/parametros/parametros-api';
import { getCompra } from '@/http/compras/compras-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';
import AsientosComponent from '@/components/accounting/AsientosComponent.vue';
import { useProveedoresStore } from '@/stores/dropdowns/proveedorDropdown';
import { formatNumber } from '@/utils/functions';
import { getOrdenPago } from '@/http/ordenesPagos/ordenes-pagos-api';
import { getCuentasBancariasDropdown } from '@/http/bancos/bancos-api';

const id = router.currentRoute.value.params.id;

// Usa la función para crear una instancia del store
const proveedorStore = useProveedoresStore();

const form = reactive({ master: {}, detail: [], detail2: [] });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const empresaCont = ref('');

const cuentasBancarias = ref([]);

const errorMessage = ref('');

const fetchData = async () => {
    try {
        const data = await getOrdenPago(id);

        form.master = { ...data.data.attributes };

      
        form.detail = data.data.relationships.detalles.data.map((element, i) => {
            return { ...element.attributes, rowNum: i + 1 };
        });
        form.detail2 = data.data.relationshipsa.detalles.data.map((element, i) => {
            return { ...element.attributes, rowNum: i + 1 };
        });
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleFetchEmpresaContable = async () => {
    try {
        const empresaContableIndex = await getParametrosGenerales();

        empresaCont.value = empresaContableIndex.data.attributes.empresa_contable;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleFetchCuentasBancarias = async () => {
    try {
        const cuentasBancariasIndex = await getCuentasBancariasDropdown();

        cuentasBancarias.value = cuentasBancariasIndex;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const summary = computed(() => {
    let sums = {
        importe: 0,
        pagado: 0,
        subtotalGeneral: 0,
        total:0
    };

    form.detail.forEach((compra) => {
        const montoDoc = parseInt(compra.importe_doc) || 0;
        const montoPagado = parseInt(compra.importe_pago) || 0;

        sums.importe += montoDoc;
        sums.pagado += montoPagado;
        
    });

    form.detail2.forEach((compra) => {
        const importeCheque = parseInt(compra.importe_cheque) || 0;
         
        sums.total += importeCheque;
        
    });

    return sums;
});

const items = ref([
    {
        label: 'Ver Ficha del Proveedor',
        icon: 'fas fa-user',
        command: () => {
            onShowFichaProveedor();
        }
    },

    {
        label: 'Imprimir',
        icon: 'pi pi-trash',
        command: () => {}
    }
]);
 

const onShowFichaProveedor = (event) => {
    router.push({ name: 'proveedor', params: { id: form.master.proveedor } });
};

const onShowAsiento = () => {
    const anio = form.master.asiento_ejercicio;
    const empresa = empresaCont.value;
    //const empresa = form.master.empresaContable;
    const asiento = form.master.asiento_numero;

    router.push({ name: 'asientos', params: { anio, empresa, asiento } });
};

const initializeComponent = async () => {
    try {
        await fetchData();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
    try {
        await handleFetchEmpresaContable();
        await handleFetchCuentasBancarias();
        await proveedorStore.fetchProveedores(); // Esta línea llama a la función del store
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="p-fluid formgrid mb-2">
            <div class="card surface-300 bg-white">
                <h5 class="text-blue-500 text-2xl text-center">Orden de Pago</h5>

                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">Número</label>
                        <InputText v-model="form.master.numero" id="" type="text" class="text-xs text-center" disabled />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Fecha</label>
                        <Calendar v-model="form.master.fecha" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>
                    <div class="field col-12 md:col-3 px-1 text-center">
                        <label for="">Tipo de Compra</label>

                        <Dropdown
                            class="text-xs"
                            id=""
                            v-model="form.master.tipo_compra"
                            :options="[
                                { name: 'CON AUTORIZACIÓN', code: 1 },
                                { name: 'DIRECTA', code: 2 }
                            ]"
                            optionLabel="name"
                            optionValue="code"
                            placeholder=""
                            :style="{ width: '100%' }"
                        ></Dropdown>
                    </div>
                    <div class="field col-12 md:col-5 px-1">
                        <label for="">Proveedor</label>
                        <Dropdown inputClass="text-xs font-normal" filter v-model="form.master.proveedor" :options="proveedorStore.proveedores" optionLabel="combined" optionValue="code" placeholder="Seleccione un proveedor">
                            <template #option="slotProps">
                                <div class="not-bold text-xs">{{ slotProps.option.combined }}</div>
                            </template>
                        </Dropdown>
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">R.U.C</label>
                        <InputText v-model="form.master.proveedor_ruc" id="nombreComercial" type="text" class="text-xs text-center" />
                    </div>

                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Importe</label>
                        <InputNumber input-class="text-center" v-model="form.master.importe_op" :minFractionDigits="0" />
                    </div>

                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Estado</label>
                        <Dropdown
                            class="text-xs text-center"
                            id=""
                            v-model="form.master.estado"
                            :options="[
                                { name: 'GENERADO', code: 'G' },
                                { name: 'ANULADO', code: 'X' }
                            ]"
                            optionLabel="name"
                            optionValue="code"
                            placeholder=""
                            :style="{ width: '100%' }"
                        ></Dropdown>
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Fecha de Alta</label>
                        <InputText v-model="form.master.fecha_alta" id="" type="text" class="text-xs text-center" disabled />
                    </div>
                    <div class="field col-12 md:col-3 px-1 text-center">
                        <label for="">Usuario Alta</label>
                        <InputText v-model="form.master.usuario_alta" id="" type="text" class="text-xs text-center" disabled />
                    </div>

                    <div class="field col-12 md:col-12 px-1">
                        <label for="notas">Concepto</label>
                        <Textarea v-model="form.master.concepto" rows="2" cols="" id="" type="text" class="text-xs" />
                    </div>
                </div>
            </div>
        </div>

        <AsientosComponent class="py-3 mb-2" @show="onShowAsiento" :asiento="{ asientoNumero: form.master.asiento_numero, asientoEjercicio: form.master.asiento_ejercicio, empresaContable: form.master.empresaContable }"> </AsientosComponent>

        
        <div class="card surface-300 bg-white">
            <h5 class="text-blue-500 text-base">Documentos Pendientes de Pago</h5>
            <DataTable
                :value="form.detail"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer text-black"
                :rows="100"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="35vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                @row-click="onRowClick"
            >
                <Column field="tipo_documento" header="Tipo Doc." headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="documento" header="Nro. Doc." headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="cuota" header="Cuota" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="fecha_vencimiento" header="Vence" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="importe_doc" header="Importe Doc." :footer="formatNumber(summary.importe)" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.importe_doc || 0) }}
                    </template>
                </Column>
                <Column field="importe_pago" header="A Pagar" :footer="formatNumber(summary.pagado)" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.importe_pago || 0) }}
                    </template>
                </Column>
            </DataTable>
        </div>
        <div class="card surface-300 bg-white">
            <h5 class="text-blue-500 text-base">Detalle de Cheques</h5>
            <DataTable
                :value="form.detail2"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer text-black"
                :rows="100"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="35vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                @row-click="onRowClick"
            >
                <Column field="cuenta_bancaria" header="Cuenta Pago" headerClass="text-white bg-blue-500 text-sm text-center" bodyClass=" text-black text-sm text-center" class="text-center">
                    <template #body="slotProps">
                        <Dropdown
                            class="w-full"
                            inputClass="font-normal"
                            @keyup.enter="addNewItemToDetail"
                            filter
                            editable
                            v-model="slotProps.data.cuenta_bancaria"
                            :options="cuentasBancarias"
                            optionLabel="name"
                            optionValue="code"
                            placeholder="Seleccione una cuenta"
                        >
                            <template #option="slotProps">
                                <div class="not-bold text-xs px-1">{{ slotProps.option.name }}</div>
                            </template>
                        </Dropdown>
                    </template>
                </Column>
                <Column field="cheque" header="Nro. de Documento" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm text-center"></Column>
                <Column field="fecha_cheque" header="Fecha Doc." headerClass="text-white bg-blue-500 text-sm shadow " bodyClass=" text-black text-sm "></Column>
                <Column field="importe_cheque" :footer="formatNumber(summary.total)"  header="Importe Doc." headerClass="text-white bg-blue-500 text-sm " bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>  
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.importe_cheque || 0) }}
                    </template>
                </Column>
                <Column field="tipo_cheque" header="Tipo de Pago" headerClass="text-white bg-blue-500 text-sm text-left" bodyClass=" text-black text-sm ">
                    <template #body="slotProps">
                        <span>{{ slotProps.data.tipo_cheque == 1 ? 'Normal' : 'Diferido' }}</span>
                    </template>
                </Column>
                <Column field="fecha_vencimiento" header="Fecha Vto." headerClass="text-white bg-blue-500 text-sm shadow " bodyClass=" text-black text-sm"></Column>
            </DataTable>
        </div>
    </div>
    <FormButtons @close="onClose()">
        <template #start>
            <div :style="{ position: 'relative', height: '50px' }">
                <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
            </div>
        </template>
    </FormButtons>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

::v-deep(.black-text) {
    color: black !important;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 15px !important;
    /* font-size: 1.025em; */
    /* font-weight: bold; */
}

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
    font-size: 15px !important;
}

.columna-estado-anulado {
    color: red; /* Cambia el color del texto a rojo */
    /* Otros estilos específicos que desees aplicar a la celda */
}
</style>
