<script setup>
import { onMounted, reactive, ref } from 'vue';
import { getMaxUnidadId, getUnidad, updateUnidad, insertUnidad, deleteUnidad } from '@/http/medidas/medidas-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const id = router.currentRoute.value.params.id;

const form = reactive({ unidad: null });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});
const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData] = await fetchData(() => Promise.all([getUnidad(form.unidad)]));
    Object.assign(form, { ...familyData.data[0].attributes });
};

const validationRules = {
    nombre: { required: helpers.withMessage(messages.required, required) },
    abreviacion: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const handleDelete = async () => {
    try {
        const result = await deleteUnidad({ id: form.unidad });

        if (result.status === 204) {
            toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
        } else {
            toast.add({ severity: 'error', summary: 'Error al Eliminar', life: 2000 });
        }

        setTimeout(() => {
            onClose();
        }, TIME_CLOSE);
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (id && form.unidad) {
                result = await updateUnidad({ ...form, id: form.unidad });
                console.log('handleSave update');
            } else {
                result = await insertUnidad(form);
                console.log('handleSave insert');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

const initializeComponent = async () => {
    try {
        form.unidad = router.currentRoute.value.params.id;

        if (!form.unidad) {
            const maxIdResponse = await getMaxUnidadId();
            if (maxIdResponse && maxIdResponse.data[0] && maxIdResponse.data[0].attributes) {
                const maxId = parseInt(maxIdResponse.data[0].attributes.maxID) + 1;
                form.unidad = maxId;
            } else {
                form.unidad = 1;
            }
        } else {
            await fetchFamilyData();
        }
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const items = ref([
    // {
    //     label: 'Ver Estado Cta.',
    //     icon: 'fas fa-user',
    //     command: () => {
    //         onShowEstadoCuenta();
    //     }
    // }
]);

onMounted(async () => {
    await initializeComponent();
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Unidad de Medida</h5>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">ID</label>
                    <InputText v-model="form.unidad" id="id" type="text" class="text-xs text-center" disabled />
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-3 px-1">
                    <label for="nombre">Descripción</label>
                    <InputText v-model="form.nombre" id="nombre" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.nombre.$errors" />
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1">
                    <label for="direccion">Abreviación</label>
                    <InputText v-model="form.abreviacion" id="abreviacion" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.abreviacion.$errors" />
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-buttons">
        <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose"></FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}
</style>
