<script setup>
import { ref, onMounted } from 'vue';
import { getCobros   } from '@/http/cobros/cobros-api';
import { formatNumber } from '@/utils/functions';
import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';

const registros = ref([]);
const totalRows = ref(0);
const actualPage = ref(1);
const search = ref(null);

const onSearch = async (searchValue) => {
    actualPage.value = 1;
    search.value = searchValue;

    await fetchData();
};

 

const onPage = async (e) => {
    actualPage.value = e.page + 1;
    await fetchData();
};

const fetchData = async () => {
    try {
        const data = await getCobros({
            pagina: actualPage.value,
            search: search.value
        });

        registros.value = data.data;

        //SE RESTA 20 POR LA DIFERENCIA DE OFFSET
        //  totalRows.value = data.meta.total_records - 20;
        totalRows.value = data.meta.total_records;
    } catch (error) {
        console.error('Error:', error);
    }
};

const onRowClick = (event) => {
    const familiaId = event.data.id;

    router.push({ name: 'cobro', params: { id: familiaId } });
};

const onADD = (event) => {
    router.push({ name: 'familia-insert' });
};

onMounted(fetchData);
</script>

<template>
    <div class="grid my-2">
        <div class="col-12">
            <h5 class="text-blue-500 text-2xl text-center">Detalle de Cobros</h5>
            <SearchFilter @search="onSearch" @csv="onCSV" @add="onADD"></SearchFilter>
            <DataTable
                :value="registros"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer"
                :rows="20"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="55vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
                :currentPageReportTemplate="`{first} al {last} de {totalRecords} registros   -   Pagina: {currentPage} de {totalPages}`"
                @row-click="onRowClick"
            >
            <Column field="attributes.fecha" header="Fecha" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
            <Column field="attributes.tipo" header="Tipo" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                       {{ slotProps.data.attributes.tipo == 1 ? 'CONTADO' : 'CREDITO' }}
                    </template>
            </Column>
            <Column field="attributes.sucursal" header="Suc." headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
            <Column field="attributes.factura" header="Factura" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
            <Column field="attributes.nombre" header="Nombre Completo" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
            <Column field="attributes.secuencia" header="Cuota" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
            <Column field="attributes.importe" header="Importe" class="text-right" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.attributes.importe || 0) }}
                    </template>
            
            </Column>
            <Column field="attributes.forma_pago" header="Forma de Pago" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
            <Column field="attributes.doc_ref" header="Recibo" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
            <Column field="id" header="ID" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                         
            </DataTable>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}
</style>
