<script setup>
import { getCobro, getFormasPagoDropdown } from '@/http/cobros/cobros-api';
import { onMounted, reactive, ref } from 'vue';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';
import AsientosComponent from '@/components/accounting/AsientosComponent.vue';
import { getParametrosGenerales } from '@/http/parametros/parametros-api';
import { getPlanPagoVenta } from '@/http/ventas/ventas-api';
import { formatNumber } from '@/utils/functions';
import { useParametrosStore } from '@/stores/parametrosStore'; // Reemplaza con la ruta correcta a tu archivo del store

const id = router.currentRoute.value.params.id;

const condicionesVenta = ref([]);
const empresaCont = ref('');
const parametrosStore = useParametrosStore();

const form = reactive({
    cobro_id: null
});

const toast = useToast();

const productsIndex = ref([]);
const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});
const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleFetchFormasPago = async () => {
    try {
        const condicionesIndex = await getFormasPagoDropdown();
        condicionesVenta.value = condicionesIndex;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    
    const [familyData] = await fetchData(() => Promise.all([getCobro(form.cobro_id)]));

    Object.assign(form, { ...familyData.data[0].attributes });
   
    productsIndex.value = await getPlanPagoVenta({
        factura: form.factura,
        tipo: form.tipo,
        sucursal: form.sucursal
    });

    // Transforma directamente los productos dentro de productsIndex.value
    productsIndex.value = await productsIndex.value.data.data.map((product) => {
        return {
            secuencia: product.attributes.secuencia,
            id: product.attributes.secuencia,
            tipo: product.attributes.tipo,
            sucursal: product.attributes.sucursal,
            factura: product.attributes.factura,
            vencimiento: product.attributes.vencimiento,
            importe: product.attributes.importe,
            pagado: product.attributes.pagado,
            saldo: product.attributes.saldo
        };
    });
};

const validationRules = {
    nombre: { required: helpers.withMessage(messages.required, required) },
    cuenta_contable: { required: helpers.withMessage(messages.required, required) },
    cuenta_contable_compra: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const onShowAsiento = () => {
    const anio = form.asiento_ejercicio;
    const empresa = empresaCont.value;
    const asiento = form.asiento_numero;

    router.push({ name: 'asientos', params: { anio, empresa, asiento } });
};

const handleFetchEmpresaContable = async () => {
    try {
        const empresaContableIndex = await getParametrosGenerales();

        empresaCont.value = empresaContableIndex.data.attributes.empresa_contable;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const initializeComponent = async () => {
    try {

        form.cobro_id = router.currentRoute.value.params.id;
   

        await fetchFamilyData();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
    try {
        await parametrosStore.fetchTimerDashboard();
        empresaCont.value = parametrosStore.timer.empresa_contable;
        await handleFetchFormasPago();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Detalle de Cobro</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">ID</label>
                    <InputText v-model="form.cobro_id" id="id" type="text" class="text-xs text-center" disabled />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="id">Tipo</label>
                    <Dropdown
                        class="text-xs text-center"
                        id="clase"
                        v-model="form.tipo"
                        :options="[
                            { name: 'CONTADO', code: 1 },
                            { name: 'CREDITO', code: 2 }
                        ]"
                        optionLabel="name"
                        optionValue="code"
                        placeholder=""
                        :style="{ width: '100%' }"
                    ></Dropdown>
                </div>
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Suc.</label>
                    <InputText v-model="form.sucursal" id="id" type="text" class="text-xs text-center" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="id">Factura</label>
                    <InputText v-model="form.factura" id="id" type="text" class="text-xs text-center" />
                </div>
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Cuota</label>
                    <InputText v-model="form.secuencia" id="id" type="text" class="text-xs text-center" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="id">Fecha</label>
                    <Calendar v-model="form.fecha" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                </div>
                <div class="field col-12 md:col-2 px-1 text-right">
                    <label for="id">Importe</label>
                    <InputNumber input-class="text-right" v-model="form.importe" inputId="costo_gs" :maxFractionDigits="6" />
                </div>
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Recibo</label>
                    <InputText v-model="form.doc_ref" id="id" type="text" class="text-xs text-center" />
                </div>
                <div class="field col-12 md:col-3 px-1 text-left">
                    <label for="id">Forma de Pago</label>

                    <Dropdown inputClass="text-xs font-normal" filter v-model="form.forma_pago" :options="condicionesVenta" optionLabel="name" optionValue="code" placeholder="Seleccione una condición/plazo">
                        <template #option="slotProps">
                            <div class="not-bold text-xs">{{ slotProps.option.name }} - {{ slotProps.option.code }}</div>
                        </template>
                    </Dropdown>
                </div>

                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Anticipo</label>
                    <InputText v-model="form.anticipo_id" id="id" type="text" class="text-xs text-center" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-right">
                    <label for="id">Importe de Anticipo</label>

                    <InputNumber input-class="text-right" v-model="form.importe_anticipo" inputId="costo_gs" :maxFractionDigits="6" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="precio_venta">Usuario de Alta</label>
                    <InputText v-model="form.usuario_alta" id="ultima_venta" type="text" class="text-xs text-center" disabled />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="precio_venta">Fecha de Alta</label>
                    <InputText v-model="form.fecha_alta" id="fecha_alta" type="text" class="text-xs text-center" disabled />
                </div>
            </div>
        </div>
        <AsientosComponent class="py-3 mb-2" @show="onShowAsiento" :asiento="{ asientoNumero: form.asiento_numero, asientoEjercicio: form.asiento_ejercicio, empresaContable: empresaCont }"> </AsientosComponent>

        <div class="card">
            <div class="flex justify-content-center align-items-center mb-1 gap-2">
                <h5 class="text-blue-500 text-base">Plan de Pago</h5>
            </div>
            <DataTable :value="productsIndex" paginator :rows="5" dataKey="id" tableStyle="min-width: 50rem">
                <Column field="secuencia" header="Cuota" headerClass="text-white bg-blue-500 text-sm shadow"></Column>
                <Column field="vencimiento" header="Vencimiento" headerClass="text-white bg-blue-500 text-sm shadow"></Column>
                <Column field="importe" header="Importe" headerClass="text-white bg-blue-500 text-sm shadow " bodyClass="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.importe || 0) }}
                    </template>
                </Column>
                <Column field="pagado" footer-style="color:black" header="Pagado" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.pagado || 0) }}
                    </template>
                </Column>
                <Column field="saldo" footer-style="color:black" header="Saldo" headerClass="text-white  bg-blue-500 text-sm shadow" bodyClass="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.saldo || 0) }}
                    </template>
                </Column>
            </DataTable>
        </div>
    </div>
    <div>
        <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose"></FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 15px !important;
}
</style>
