<script setup>
import { ref, onMounted, reactive } from 'vue';
import { getProveedores, getProveedoresCSV } from '@/http/proveedores/proveedores-api';
import { formatNumber } from '@/utils/functions';
import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';

const registros = ref([]);
const meta = reactive({ total_records: 0 });
const actualPage = ref(1);
const search = ref(null);

const onSearch = async (searchValue) => {
    actualPage.value = 1;
    search.value = searchValue;

    await fetchData();
};

const onCSV = async () => {
    await getProveedoresCSV({ search: search.value });
};
const onPage = async (e) => {
    actualPage.value = e.page + 1;
    await fetchData();
};

const fetchData = async () => {
    try {
        const data = await getProveedores({
            pagina: actualPage.value,
            search: search.value
        });

        registros.value = data.data;

        //SE RESTA 20 POR LA DIFERENCIA DE OFFSET
        // meta.total_records = data.meta.total_records - 20;
        // 02/08/2023 EB, MUESTRO LA CANTIDAD DE REGISTROS SIN RESTAR DE A CUENTA INFO SE TRAE
        meta.total_records = data.meta.total_records;
    } catch (error) {
        console.error('Error:', error);
    }
};

const onRowClick = (event) => {
    const proveedorId = event.data.id;

    router.push({ name: 'proveedor', params: { id: proveedorId } });
};

const onADD = (event) => {
    router.push({ name: 'proveedor-insert' });
};

onMounted(fetchData);
</script>

<template>
    <div class="grid my-2">
        <div class="col-12">
            <!-- <h5 class="text-center">Proveedores</h5> -->
            <!-- <h5 class="logo-title text-center">PROVEEDORES</h5> -->
            <h5 class="text-blue-500 text-2xl text-center">Proveedores</h5>
            <SearchFilter @search="onSearch" @csv="onCSV" @add="onADD"></SearchFilter>
            <div v-if="spinner" class="flex flex-row justify-center">
                <ProgressSpinner strokeWidth="3" />
            </div>
            <div v-else>
                <DataTable
                    :value="registros"
                    :paginator="true"
                    lazy
                    class="p-datatable-sm cursor-pointer"
                    :rows="20"
                    :totalRecords="meta.total_records"
                    :rowHover="true"
                    @page="onPage($event)"
                    :scrollable="true"
                    scrollHeight="55vh"
                    scrollDirection="both"
                    responsiveLayout="scroll"
                    paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
                    :currentPageReportTemplate="`{first} al {last} de {totalRecords} registros   -   Pagina: {currentPage} de {totalPages}`"
                    @row-click="onRowClick"
                >
                    <Column field="id" header="ID" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"> </Column>
                    <Column field="attributes.descripcion" header="Descripción" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                    <Column field="attributes.ruc" header="RUC" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"> </Column>
                    <Column field="attributes.cantidadCompras" header="Compras" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm flex-1 "></Column>
                    <Column field="attributes.contacto" header="Contacto" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
                    <Column field="attributes.direccion" header="Dirección" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"> </Column>
                    <Column field="attributes.telefono" header="Teléfono" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"> </Column>
                </DataTable>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}

::v-deep(.p-datatable-tfoot tr) {
    color: black;
}
</style>
