<script setup>
import { onMounted, computed, reactive, ref } from 'vue';
import { getAsiento } from '@/http/contabilidad/contabilidad-api';
import router from '@/router';
import { formatNumber } from '@/utils/functions';
import FormButtons from '@/components/buttons/FormButtons.vue';
import Textarea from 'primevue/textarea';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import { messages } from '@/utils/validations/messages';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';

const form = reactive({ master: {}, detail: [] });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const errorMessage = ref('');

const fetchData = async () => {
    let anio = router.currentRoute.value.params.anio;
    let empresa = router.currentRoute.value.params.empresa;
    let asiento = router.currentRoute.value.params.asiento;
    const f = function isObjectEmpty(obj) {
        return Object.keys(obj).length == 0 && obj.constructor === Object;
    };
    const emptyObject = {};
    const nonEmptyObject = { key: 'value' };

    try {
        const data = await getAsiento({ anio: anio, empresa: empresa, asiento: asiento });

        if (data.data === undefined) {
            // toast.add({ severity: 'error', summary: 'Error', detail: 'No se encuentra el asiento, favor verificar en el sistema de contabilidad' });
            // await toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
            onClose();
        }

        form.master = { ...data.data.attributes };
        form.detail = data.data.relationships.detalles.data.map((element, i) => {
            return { ...element.attributes, rowNum: i + 1 };
        });
    } catch (error) {
        console.error('Error:', error.response.data.message);
    }
};

const summary = computed(() => {
    let sums = {
        totalDebito: 0,
        totalCredito: 0
    };

    form.detail.forEach((asiento) => {
        const debito = parseInt(asiento.monto_debito) || 0;
        const credito = parseInt(asiento.monto_credito) || 0;

        sums.totalDebito += debito;
        sums.totalCredito += credito;
    });

    return sums;
});

const onClose = () => router.go(-1);

onMounted(() => fetchData());
</script>

<template>
    <div class="px-1 col-12">
        <div class="p-fluid formgrid mb-2">
            <div class="card surface-300 bg-white">
                <h5 class="text-blue-500 text-2xl text-center">Asiento Contable</h5>
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="id">Asiento</label>
                        <InputText v-model="form.master.asiento" id="asiento" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="nombreComercial">Fecha</label>
                        <InputText v-model="form.master.fecha_asiento" id="fecha_asiento" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="id">Empresa</label>
                        <InputText v-model="form.master.empresa" id="empresa" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="id">Ejercicio</label>
                        <InputText v-model="form.master.anio" id="anio" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 px-1">
                        <label for="comentario">Comentario</label>
                        <Textarea v-model="form.master.comentario" rows="4" id="comentario" type="text" class="text-xs" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card surface-300 bg-white">
            <h5 class="text-blue-500 text-xl">Información del Detalle</h5>
            <DataTable
                :value="form.detail"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer text-black"
                :rows="100"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="35vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                @row-click="onRowClick"
            >
                <Column field="item" header="Item" headerClass="text-white bg-blue-500 text-sm text-center" bodyClass=" text-black text-sm"> </Column>
                <!-- <Column field="item" header="Item" headerClass="text-white bg-blue-500 text-sm text-center" bodyClass=" text-black text-sm text-center" class="text-center"> </Column> -->
                <Column field="cuenta_contable" header="Cuenta" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="nombre" header="Descripción de la Cuenta" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="monto_debito" header="Débito" :footer="formatNumber(summary.totalDebito)" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.monto_debito || 0) }}
                    </template>
                </Column>
                <Column field="monto_credito" header="Crédito" :footer="formatNumber(summary.totalCredito)" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.monto_credito || 0) }}
                    </template>
                </Column>
            </DataTable>
        </div>
    </div>
    <div class="fixed-buttons">
        <FormButtons @close="onClose()"></FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

::v-deep(.black-text) {
    color: black !important;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

.p-inputtext {
    color: black !important;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 1.025em;
    font-weight: bold;
}

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}

.fixed-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}
</style>
