<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportFiltersGeneric @apply-filters="handleFilters" @clear-filters="handleFilters" class="headerFilter">
                <template #additional-filters="slotProps">
                    <div class="flex flex-row gap-2">
                        <div>
                            <label for="" class="text-primary">Desde:</label>
                            <Calendar v-model="desde" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="Desde" class="w-full md:w-10rem"></Calendar>
                        </div>

                        <div>
                            <label for="" class="text-primary">Hasta:</label>
                            <Calendar v-model="hasta" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="hasta" class="w-full md:w-10rem"></Calendar>
                        </div>

                        <div>
                            <label for="" class="text-primary">Proveedor:</label>
                            <MultiSelect filter v-model="centrosCostosSelected" optionValue="code" optionLabel="combined" :options="proveedorStore.proveedores" class="w-full md:w-10rem" />
                        </div>
                    </div>
                </template>
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportFiltersGeneric>
        </div>

        <div class="invoice-wrapper">
            <div v-if="!isLoading" id="invoice-content">
                <table class="invoice-table container mx-auto p-4 border-collapse">
                    <colgroup>
                        <col class="col-2" />
                        <col class="col-1" />
                        <col class="col-1" />
                        <col class="col-1" />
                        <col class="col-4" />
                        <col class="col-4" />
                        <col class="col-1" />
                        <col class="col-1" />
                        <col class="col-1" />
                        <col class="col-1" />
                    </colgroup>
                    <thead class="bordered-header py-2">
                        <ReportHeader colspan="10" :empresa="empresa" :subtitle="subtitle" :filter="filter"></ReportHeader>
                        <tr class="header bg-white">
                            <th class="text-left">Fecha</th>
                            <th class="py-2 text-left">ID</th>
                            <th class="py-2 text-left">Tipo</th>
                            <th class="text-left">Suc.</th>
                            <th class="text-left">Factura</th>
                            <th class="text-left">Proveedor</th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody v-for="groupKey in Object.keys(groupedData)" :key="groupKey" class="avoid-page-break roboto-mono">
                        <template v-for="(item, index) in groupedData[groupKey]" :key="item.id">
                            <tr v-if="index === 0" class="bg-white">
                                <td>{{ item.fecha }}</td>
                                <td>{{ item.compraID }}</td>
                                <td>{{ item.tipo === 1 ? 'CO' : 'CR' }}</td>
                                <td>{{ item.sucursal }}</td>
                                <td>{{ item.factura }}</td>
                                <td>{{ item.nombreProveedor }}</td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                                <td class="text-right">
                                    <strong>{{ formatNumber(item.totalFactura, true, 0) }}</strong>
                                </td>
                            </tr>
                        </template>

                        <tr v-for="(item, index) in groupedData[groupKey]" :key="item.id" class="bg-white roboto-mono"></tr>

                        <tr class="bg-white border-bottom-1 roboto-mono">
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left border-bottom-1">Descripción</th>
                            <th class="text-right border-bottom-1">Cant.</th>
                            <th class="text-right border-bottom-1">Exentas</th>
                            <th class="text-right border-bottom-1">Gravadas</th>
                        </tr>
                        <tr v-for="(item, index) in groupedData[groupKey]" :key="item.id" class="bg-white">
                            <td class="text-left"></td>
                            <td class="text-left"></td>
                            <td class="text-left"></td>
                            <td class="text-left"></td>
                            <td class="text-left"></td>
                            <td class="text-left">{{ item.producto + ' - ' + item.nombreComercial }}</td>
                            <td class="text-right">{{ formatNumber(item.cantidad, true, 0) }}</td>
                            <td class="text-right">{{ formatNumber(item.montoExento, true, 0) }}</td>
                            <td class="text-right">{{ formatNumber(item.montoGravado, true, 0) }}</td>
                        </tr>
                        <tr class="bg-white border-bottom-2">
                            <td colspan="2" class="py-1"></td>
                        </tr>
                    </tbody>
                    <tfoot class="print-footer bg-white roboto-mono">
                        <tr>
                            <td colspan="6"><strong>Totales:</strong></td>
                            <td class="text-right">
                                <strong>{{ formatNumber(computeTotal('cantidad'), true, 0) }}</strong>
                            </td>
                            <td class="text-right">
                                <strong>{{ formatNumber(computeTotal('montoExento'), true, 0) }}</strong>
                            </td>
                            <td class="text-right">
                                <strong>{{ formatNumber(computeTotal('montoGravado'), true, 0) }}</strong>
                            </td>

                            <td class="text-right">
                                <strong>{{ formatNumber(computeTotal('totalFactura'), true, 0) }}</strong>
                            </td>
                        </tr>
                        <tr class="border-top-1 border-bottom-1 bg-white roboto-mono">
                            <td class="text-left" colspan="7"><strong>Fin del Listado</strong></td>
                            <td class="text-right">www.puntodeventa.com.py</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div v-else class="flex justify-content-center align-items-center h-30rem">
                <ProgressSpinner></ProgressSpinner>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted, reactive } from 'vue';
import IndexAndReportHeaderWithRange from '@/components/headers/IndexAndReportHeaderWithRange.vue';
import { cleanFormattedNumber, formatNumber } from '@/utils/reports/format';
import { useEmpresaStore } from '@/stores/empresaStore';
import { getComprasDetallesPDF } from '@/http/compras/compras-api';
import { getItemsAndMetaFromData, mapItemsToIndexFormat } from '@/utils/transformers/fetchTransformers';
import ReportHeader from '@/components/headers/ReportHeader.vue';
import { onClose } from '@/utils/functions';
import IndexAndReportFiltersGeneric from '@/components/headers/IndexAndReportFiltersGeneric.vue';
import { useProveedoresStore } from '@/stores/dropdowns/proveedorDropdown';
import ProgressSpinner from 'primevue/progressspinner';

const empresaStore = useEmpresaStore();
const empresa = ref('');
const subtitle = 'Detalle de Compras';

const libroDiarioIndex = ref([]);
const groupedData = ref({});
const filter = ref('');
const isLoading = ref(false);
const centrosCostosSelected = ref([]);
const proveedorStore = useProveedoresStore();

const desde = ref(new Date());
const hasta = ref(new Date());

const formatDate = (date) => {
    if (typeof date !== 'string') {
        return null; // Manejar casos en los que date no sea una cadena
    }
    return date.substring(0, 10);
};

const groupBy = (array, keys) => {
    return array.reduce((acc, obj) => {
        let key = keys.map((k) => obj[k]).join('***');
        if (!acc[key]) acc[key] = [];
        acc[key].push(obj);
        return acc;
    }, {});
};

const computeGroupTotal = (groupKey, field) => groupedData.value[groupKey].reduce((acc, obj) => acc + parseFloat(obj[field] || 0), 0);

const computeTotal = (field) => libroDiarioIndex.value.reduce((acc, obj) => acc + parseFloat(obj[field] || 0), 0);

const getGroupComments = (groupKey) => {
    const uniqueComments = [...new Set(groupedData.value[groupKey].map((item) => item.comments))].filter(Boolean);
    return uniqueComments.join(' | ');
};

const printClick = () => window.print();

const handleFilters = (filters) => {
    const combinedFilters = {
        ...filters,
        desde: formatDate(desde.value.toISOString()),
        hasta: formatDate(hasta.value.toISOString()),
        proveedor: centrosCostosSelected.value
    };

    updateSubtitle(combinedFilters);
    fetchData(combinedFilters);
};

// const updateSubtitle = (filters) => {
//     if (filters) {
//         filter.value = `Filtro:  desde: ${filters?.desde} - hasta: ${filters?.hasta} `;
//     } else {
//         filter.value = `Filtro:  desde: ${''} - hasta: ${''} `;
//     }
// };

const updateSubtitle = (filters) => {
    if (!filters) {
        return;
    }

    const proveedor = filters.id && filters.proveedor.length ? (filters.proveedor.length > 1 ? '...' : filters.proveedor[0]) : '-';

    let baseSubtitle = 'Filter';
    let dateSubtitle = `- Desde: ${filters.desde || '-'} - Hasta: ${filters.hasta || '-'} - Proveedor: ${proveedor} `;

    filter.value = `${baseSubtitle} ${dateSubtitle}  `;
};

const fetchData = async (filters) => {
    isLoading.value = true;
    const response = await getComprasDetallesPDF({ desde: filters?.desde, hasta: filters?.hasta, proveedor: filters?.proveedor });
    isLoading.value = false;

    let { items } = getItemsAndMetaFromData(response);

    libroDiarioIndex.value = mapItemsToIndexFormat(items);

    libroDiarioIndex.value = response.data.data.map((item) => ({
        id: item.id,
        ...item.attributes
    }));

    groupedData.value = groupBy(libroDiarioIndex.value, ['compraID']);
};

onMounted(async () => {
    await empresaStore.fetchEmpresa(); // Asume que fetchEmpresa es asíncrono. Si no lo es, simplemente elimina el async/await.
    empresa.value = empresaStore.empresa.nombre;
    await proveedorStore.fetchProveedores(); // Esta línea llama a la función del store
    // await fetchData();
});
</script>

<style scoped>
.roboto-mono {
    font-family: 'Roboto Mono', monospace !important;

    font-size: 0.875rem !important;
}

.max-h-74vh {
    max-height: 74vh;
}

.bordered-header th {
    border-top: 1px solid black;
    border-bottom: 1px solid black; /* Hice el borde inferior un poco más grueso para que destaque más, pero puedes ajustarlo según tus preferencias */
}

.border-collapse {
    border-collapse: collapse;
}

.bordered-header th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@media print {
    .invoice-wrapper {
        page-break-before: avoid;
        page-break-after: avoid;
    }

    .invoice-table {
        page-break-inside: auto;
    }

    /* Configuramos el tfoot como pie de tabla */
    .invoice-table tfoot {
        display: table-footer-group;
    }

    .invoice-table tfoot {
        display: table-row-group;
        page-break-after: avoid;
        page-break-before: avoid;
    }

    .avoid-page-break {
        page-break-inside: avoid;
    }
}
</style>
