<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportFiltersGeneric @apply-filters="handleFilters" @clear-filters="handleFilters" class="headerFilter">
                <template #additional-filters="slotProps">
                    <div class="flex flex-row gap-2">
                        <div>
                            <label for="" class="text-primary">Desde:</label>
                            <Calendar v-model="desde" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="Desde" class="w-full md:w-10rem"></Calendar>
                        </div>

                        <div>
                            <label for="" class="text-primary">Hasta:</label>
                            <Calendar v-model="hasta" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="hasta" class="w-full md:w-10rem"></Calendar>
                        </div>

                        <div>
                            <label for="" class="text-primary">Cliente:</label>
                            <MultiSelect filter v-model="centrosCostosSelected" optionValue="code" optionLabel="combined" :options="clienteStore.clientes" class="w-full md:w-25rem" />
                        </div>
                    </div>
                </template>
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportFiltersGeneric>
        </div>

        <div id="contenido-a-imprimir" class="flex-grow-1 overflow-y-auto max-h-2-rem">
            <GenericIndexReportGenerator :data="cuentasContables" :headers="columns" :title="empresa" subtitle="Anticipos" :filter="filter" />
        </div>
        <div v-if="isLoading" class="flex justify-content-center align-items-center h-30rem">
            <ProgressSpinner></ProgressSpinner>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import IndexAndReportFiltersGeneric from '@/components/headers/IndexAndReportFiltersGeneric.vue';
import GenericIndexReportGenerator from '@/components/reports/GenericIndexReportGenerator.vue';
import IndexAndReportHeaderWithRange from '@/components/headers/IndexAndReportHeaderWithRange.vue';
import { getAnticiposPDF } from '@/http/anticipos/anticipos-api';
import { formatNumber } from '@/utils/reports/format.js';
import { onClose } from '@/utils/functions';
import { useClientesStore } from '@/stores/dropdowns/clienteDropdown';
import ProgressSpinner from 'primevue/progressspinner';

const cuentasContables = ref([]);
const clienteStore = useClientesStore();
const centrosCostosSelected = ref([]);
const title = ref(null);
const subtitle = ref(null);
const empresa = ref(null);
const filter = ref(null);
const isLoading = ref(false);

const formatDate = (date) => {
    if (typeof date !== 'string') {
        return null; // Manejar casos en los que date no sea una cadena
    }
    return date.substring(0, 10);
};

const desde = ref(new Date());
const hasta = ref(new Date());

const columns = ref([
    { title: 'Fecha', key: 'fecha', summable: false, width: '10%' },
    { title: 'Cliente', key: 'nombre', summable: false, align: 'left', width: '40%' },
    { title: 'Importe', key: 'importe', summable: false, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Utilizado', key: 'importe_utilizado', summable: false, align: 'right', width: '15%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Saldo', key: 'saldo', summable: true, align: 'right', width: '15%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Estado', key: 'estado', summable: false, align: 'center', width: '15%' },
    { title: 'ID', key: 'anticipo_id', summable: false, align: 'left', width: '5%' }
]);

const printClick = () => {
    window.print(); // Lógica básica para imprimir
};

const handleFilters = (filters) => {
    const combinedFilters = {
        ...filters,
        desde: formatDate(desde.value.toISOString()),
        hasta: formatDate(hasta.value.toISOString()),
        id: centrosCostosSelected.value
    };

    updateSubtitle(combinedFilters);
    fetchData(combinedFilters);
};

const updateSubtitle = (filters) => {
    if (!filters) {
        return;
    }

    const cliente = filters.id && filters.id.length ? (filters.id.length > 1 ? '...' : filters.id[0]) : '-';

    let baseSubtitle = 'Filter';
    let dateSubtitle = `- Desde: ${filters.desde || '-'} - Hasta: ${filters.hasta || '-'} - Cliente: ${cliente}`;

    filter.value = `${baseSubtitle} ${dateSubtitle}  `;
};

const fetchData = async (filters = null) => {
    // console.log(`El valor de los filtros es: ${filters}`);
    isLoading.value = true;
    const response = await getAnticiposPDF({ desde: filters?.desde, hasta: filters?.hasta, id: filters?.id });

    isLoading.value = false;

    // Destructuring para obtener directamente response.data.data
    const {
        data: { data: items, meta }
    } = response;

    cuentasContables.value = items.map((item) => {
        let formattedItem = {
            id: item.id,
            ...item.attributes
        };

        columns.value.forEach((column) => {
            if (column.useThousandsSeparator !== undefined && column.decimalPlaces !== undefined) {
                formattedItem[column.key] = formatNumber(item.attributes[column.key], column.useThousandsSeparator, column.decimalPlaces);
            }
        });

        return formattedItem;
    });

    empresa.value = meta.nombreEmpresa;
};

onMounted(async () => {
    // await fetchData();
    await clienteStore.fetchClientes();
});
</script>

<style scoped>
.max-h-74vh {
    max-height: 74vh;
}
</style>
