<script setup>
import { onMounted, reactive, ref } from 'vue';
import { getSucursal } from '@/http/sucursales/sucursales-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const id = router.currentRoute.value.params.id;

const form = reactive({
    sucursal: null
});

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});
const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData] = await fetchData(() => Promise.all([getSucursal(form.sucursal)]));
    Object.assign(form, { ...familyData.data[0].attributes });
};

const validationRules = {
    descripcion: { required: helpers.withMessage(messages.required, required) },
    abreviacion: { required: helpers.withMessage(messages.required, required) },
    direccion: { required: helpers.withMessage(messages.required, required) },
    email: { required: helpers.withMessage(messages.required, required) },
    localidad: { required: helpers.withMessage(messages.required, required) },
    telefono: { required: helpers.withMessage(messages.required, required) },
    cuenta_contable: { required: helpers.withMessage(messages.required, required) },
    cuenta_contable_caja: { required: helpers.withMessage(messages.required, required) },
    centro_costo: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const handleDelete = async () => {
    try {
        //const result = await deleteVendedor({ id: form.vendedor });

        if (result.status === 204) {
            toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
        } else {
            toast.add({ severity: 'error', summary: 'Error al Eliminar', life: 2000 });
        }

        setTimeout(() => {
            onClose();
        }, TIME_CLOSE);
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (id && form.vendedor) {
               // result = await updateVendedor({ ...form, id: form.vendedor });
                console.log('handleSave update');
            } else {
                //result = await insertVendedor(form);
                console.log('handleSave insert');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

const initializeComponent = async () => {
    try {
        form.sucursal = router.currentRoute.value.params.id;

        await fetchFamilyData();
        
        // if (!form.vendedor) {
        //     const maxIdResponse = await getMaxVendedorId();
        //     if (maxIdResponse && maxIdResponse.data[0] && maxIdResponse.data[0].attributes) {
        //         const maxId = parseInt(maxIdResponse.data[0].attributes.maxID) + 1;
        //         form.vendedor = maxId;
        //     } else {
        //         form.vendedor = 1;
        //     }
        // } else {
        //     await fetchFamilyData();
        // }
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const items = ref([
    // {
    //     label: 'Ver Estado Cta.',
    //     icon: 'fas fa-user',
    //     command: () => {
    //         onShowEstadoCuenta();
    //     }
    // }
]);

onMounted(async () => {
    await initializeComponent();
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Sucursal</h5>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">ID</label>
                    <InputText v-model="form.sucursal" id="id" type="text" class="text-xs text-center" disabled />
                </div>

                <div class="field col-12 md:col-5 px-1">
                    <label for="nombre">Descripción</label>
                    <InputText v-model="form.descripcion" id="descripcion" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.descripcion.$errors" />
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-5 px-1">
                    <label for="direccion">Abreviación</label>
                    <InputText v-model="form.abreviacion" id="abreviacion" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.abreviacion.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Dirección</label>
                    <InputText v-model="form.direccion" id="direccion" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.direccion.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Localidad</label>
                    <InputText v-model="form.localidad" id="localidad" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.localidad.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Teléfono</label>
                    <InputText v-model="form.telefono" id="telefono" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.telefono.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Correo</label>
                    <InputText v-model="form.email" id="email" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.email.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Cta. Contable</label>
                    <InputText v-model="form.cuenta_contable" id="cuenta_contable" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.cuenta_contable.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Cta. Contable Caja</label>
                    <InputText v-model="form.cuenta_contable_caja" id="cuenta_contable_caja" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.cuenta_contable_caja.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Centro de Costo</label>
                    <InputText v-model="form.centro_costo" id="centro_costo" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.centro_costo.$errors" />
                </div>
            </div>
        </div>
         
    </div>

    <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose">
        <template #start>
            <div :style="{ position: 'relative', height: '50px' }">
                <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
            </div>
        </template>
    </FormButtons>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

::v-deep(.black-text) {
    color: black !important;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}
</style>
