<script setup>
import { onMounted, reactive, computed, ref, nextTick } from 'vue';
import { getEspecial, getTiposMovimientosDropdown } from '@/http/movimientosEspeciales/especiales-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';
import { formatNumber } from '@/utils/functions';
import { useProductosStore } from '@/stores/dropdowns/productoDropdown';

const id = router.currentRoute.value.params.id;

// Usa la función para crear una instancia del store

const productosStore = useProductosStore();
const tiposMovimiento = ref([]);

const form = reactive({ master: {}, detail: [] });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const errorMessage = ref('');

const handleFetchTiposMovimiento = async () => {
    try {
        const tiposMovimientoIndex = await getTiposMovimientosDropdown();
        tiposMovimiento.value = tiposMovimientoIndex;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchData = async () => {
    try {
        const data = await getEspecial(id);

        form.master = { ...data.data.attributes };
        form.detail = data.data.relationships.detalles.data.map((element, i) => {
            return { ...element.attributes, rowNum: i + 1 };
        });
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const summary = computed(() => {
    let sums = {
        ivaincluido: 0,
        subtotalGeneral: 0
    };

    form.detail.forEach((venta) => {
        const precioCosto = venta.precio_costo || 0;
        const cantidad = venta.cantidad || 0;

        sums.ivaincluido += precioCosto * cantidad;

        sums.subtotalGeneral = sums.ivaincluido;
    });

    return sums;
});

const items = ref([
    {
        label: 'Imprimir',
        icon: 'fas fa-user',
        command: () => {
            router.push({ name: 'proforma-movimiento-especial', params: { id: form.master.numero } });
        }
    }
]);

const initializeComponent = async () => {
    try {
        await fetchData();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
    try {
        await handleFetchTiposMovimiento();
        await productosStore.fetchProductos();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="p-fluid formgrid mb-2">
            <div class="card surface-300 bg-white">
                <h5 class="text-blue-500 text-2xl text-center">Movimientos Especiales de Entrada y Salida de Productos</h5>
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="id">Número</label>
                        <InputText v-model="form.master.numero" id="prefijo" type="text" class="text-xs text-center" disabled />
                    </div>

                    <div class="field col-12 md:col-3 px-1">
                        <label for="id">Tipo</label>
                        <Dropdown inputClass="text-xs font-normal" filter v-model="form.master.tipo" :options="tiposMovimiento" optionLabel="name" optionValue="code" placeholder="Seleccione un tipo de movimiento">
                            <template #option="slotProps">
                                <div class="not-bold text-xs">{{ slotProps.option.name }} - {{ slotProps.option.code }}</div>
                            </template>
                        </Dropdown>
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="id">Fecha</label>
                        <Calendar v-model="form.master.fecha" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="id">Estado</label>

                        <Dropdown
                            class="text-xs text-center"
                            id="clase"
                            v-model="form.master.estado"
                            :options="[
                                { name: 'VIGENTE', code: '1' },
                                { name: 'ANULADO', code: '9' }
                            ]"
                            optionLabel="name"
                            optionValue="code"
                            placeholder=""
                            :style="{ width: '100%' }"
                        ></Dropdown>
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="nombreComercial">Sucursal</label>
                        <InputText v-model="form.master.sucursal" id="sucursal" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-right">
                        <label for="">Cotización</label>
                        <InputNumber id="cotizacion" input-class="text-right" v-model="form.cotizacion" :minFractionDigits="0" :maxFractionDigits="5" />
                    </div>

                    <div class="field col-12 md:col-8 px-1">
                        <label for="notas">Notas</label>
                        <Textarea v-model="form.master.notas" rows="2" cols="" id="" type="text" class="text-xs" />
                    </div>

                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="precio_venta">Usuario de Alta</label>
                        <InputText v-model="form.master.usuario" id="ultima_venta" type="text" class="text-xs text-center" disabled />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="precio_venta">Fecha de Alta</label>
                        <InputText v-model="form.master.fecha_alta" id="fecha_alta" type="text" class="text-xs text-center" disabled />
                    </div>
                </div>
            </div>
        </div>

        <div class="card surface-300 bg-white">
            <h5 class="text-blue-500 text-base">Información del Detalle</h5>
            <DataTable
                :value="form.detail"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer text-black"
                :rows="100"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="35vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                @row-click="onRowClick"
            >
                <Column field="item" header="Item" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <div :id="'detail-' + slotProps.index" tabindex="-1" class="not-bold text-xs px-1">{{ slotProps.index + 1 }}</div>
                    </template>
                </Column>
                <Column field="producto" header="Producto" headerClass="text-white bg-blue-500 text-sm p-2" bodyClass="text-black text-sm text-center p-2">
                    <template #body="slotProps">
                        <Dropdown
                            class="w-full"
                            inputClass="font-normal"
                            @keyup.enter="addNewItemToDetail"
                            filter
                            editable
                            v-model="slotProps.data.producto"
                            :options="productosStore.productos"
                            optionLabel="name"
                            optionValue="code"
                            placeholder="Seleccione un producto"
                        >
                            <template #option="slotProps">
                                <div class="not-bold text-xs px-1">{{ slotProps.option.name }}</div>
                            </template>
                        </Dropdown>
                    </template>
                </Column>

                <Column field="cantidad" header="Cantidad" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <InputNumber :minFractionDigits="0" input-class="text-right  w-6rem" @keyup.enter="addNewItemToDetail" v-model="slotProps.data.cantidad" inputId="" />
                    </template>
                </Column>
                <Column field="precio_costo" header="Costo" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <InputNumber :minFractionDigits="0" input-class="text-right w-6rem" readonly @keyup.enter="addNewItemToDetail" v-model="slotProps.data.precio_costo" inputId="" disabled />
                    </template>
                </Column>
                <Column field="" header="Valor" :footer="formatNumber(summary.ivaincluido)" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.cantidad * slotProps.data.precio_costo) }}
                    </template>
                </Column>

                <Column header="Acciones" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <Button @click="onDeleteRow(slotProps.index)" icon="pi pi-trash" class="mr-2 p-button-danger" />
                    </template>
                </Column>
            </DataTable>

            <h5 class="text-right text-blue-500 text-2xl">Total General: {{ formatNumber(summary.subtotalGeneral) }}</h5>
        </div>

        <FormButtons @close="onClose()">
            <template #start>
                <div :style="{ position: 'relative', height: '50px' }">
                    <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
                </div>
            </template>
        </FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

::v-deep(.black-text) {
    color: black !important;
}

.p-inputtext {
    color: black !important;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 15px !important;
    /* font-size: 1.025em; */
    /* font-weight: bold; */
}

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
    font-size: 15px !important;
}

.p-splitbutton .p-menuitem-link:hover {
    background-color: red !important;
}
</style>
