<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportFiltersGeneric @apply-filters="handleFilters" @clear-filters="handleFilters" class="headerFilter">
                <template #additional-filters="slotProps">
                    <div class="flex flex-row gap-2">
                        <div>
                            <label for="" class="text-primary">Mov. Especial N°:</label>
                            <!-- <MultiSelect filter v-model="centrosCostosSelected" optionValue="code" optionLabel="combined" :options="clienteStore.clientes" class="w-full md:w-20rem" /> -->
                            <InputNumber input-class="text-right" v-model="centrosCostosSelected" inputId="lista1" :minFractionDigits="0" class="w-full md:w-7rem" />
                        </div>
                    </div>
                </template>
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportFiltersGeneric>
        </div>

        <div class="proforma-wrapper">
            <div class="proforma-content" v-for="groupKey in Object.keys(groupedData)" :key="groupKey">
                <table class="bg-white w-full" style="border-collapse: collapse; border-radius: 1.5rem">
                    <colgroup>
                        <col class="col-1" />
                        <col class="col-1" />
                        <col class="col-4" />
                        <col class="col-1" />
                        <col class="col-1" />
                        <col class="col-1" />
                    </colgroup>
                    <thead class="w-full">
                        <tr>
                            <th colspan="2" class="text-left">{{ empresa }}</th>
                            <th colspan="2">Movimiento Especial</th>
                            <th colspan="1">N° {{ libroDiarioIndex.length > 0 ? libroDiarioIndex[0].id : '' }}</th>
                        </tr>
                    </thead>

                    <tbody class="">
                        <tr>
                            <th class="border-y-1 border-left-1 px-4 text-left border-round-xl">Tipo de Movimiento</th>
                            <th class="border-y-1 px-3 text-left">Signo</th>
                            <th class="border-y-1 px-4">Fecha</th>
                            <th class="border-y-1 px-4">Sucursal</th>
                            <th class="border-y-1"></th>
                            <th class="border-y-1 border-right-1"></th>
                        </tr>

                        <tr>
                            <th class="px-4 text-left">{{ libroDiarioIndex.length > 0 ? libroDiarioIndex[0].tipo : '' }}</th>
                            <th class="px-4 text-left">{{ libroDiarioIndex.length > 0 ? libroDiarioIndex[0].signo : '' }}</th>
                            <th class="px-4">{{ libroDiarioIndex.length > 0 ? libroDiarioIndex[0].fecha : '' }}</th>
                            <th class="px-4">{{ libroDiarioIndex.length > 0 ? libroDiarioIndex[0].sucursal : '' }}</th>
                        </tr>

                        <tr>
                            <th colspan="4" class="text-left py-3 border">Observaciones</th>
                        </tr>

                        <tr>
                            <td colspan="4" class="text-left">{{ libroDiarioIndex.length > 0 ? libroDiarioIndex[0].notas : '' }}</td>
                        </tr>
                        <tr>
                            <th class="text-center border-y-1 border-left-1 py-2">Código</th>
                            <th class="text-left border-y-1" colspan="2">Descripción</th>
                            <th class="text-right border-y-1">Cantidad</th>
                            <th class="text-right border-y-1">Precio</th>
                            <th class="text-right border-y-1 border-right-1">Total</th>
                        </tr>

                        <tr v-for="(libro, libroIndex) in libroDiarioIndex" :key="libro.id.factura">
                            <td class="text-center">{{ libro.producto }}</td>
                            <td class="text-left" colspan="2">{{ libro.nombre_comercial }}</td>
                            <td class="text-right">{{ formatNumber(libro.cantidad) }}</td>
                            <td class="text-right">{{ formatNumber(libro.precio_costo) }}</td>
                            <td class="text-right">{{ formatNumber(libro.subtotal) }}</td>
                        </tr>
                    </tbody>

                    <tfoot class="print-footer w-full text-center p-4 mt-8" style="width: 100%">
                        <tr>
                            <td colspan="2">
                                <table class="border-1 border-round-xl pb-6" style="width: 100%">
                                    <tr>
                                        <th class="text-left" colspan="">Firma y Sello</th>
                                    </tr>
                                    <tr>
                                        <td class="col-12"></td>
                                    </tr>
                                </table>
                                <table class="border-1 border-round-xl mt-2 pb-6" style="width: 100%; margin-top: 8px">
                                    <tr>
                                        <th class="text-left">Fecha</th>
                                    </tr>
                                    <tr>
                                        <td class="col-12"></td>
                                    </tr>
                                </table>
                            </td>

                            <td colspan="2"></td>

                            <td colspan="2">
                                <table class="border-1 border-round-xl pb-6" style="width: 100%">
                                    <tr>
                                        <th class="text-left">Firma y Sello</th>
                                    </tr>
                                    <tr>
                                        <td class="col-12"></td>
                                    </tr>
                                </table>
                                <table class="border-1 border-round-xl mt-2 pb-6" style="width: 100%; margin-top: 8px">
                                    <tr>
                                        <th class="text-left">Fecha</th>
                                    </tr>
                                    <tr>
                                        <td class="col-12"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tfoot>
                    <tfoot class="print-footer">
                        <tr class="bg-white roboto-mono">
                            <td colspan="5" class="border-top-1 border-bottom-1"><strong>Totales:</strong></td>

                            <td class="text-right border-top-1 border-bottom-1">
                                <strong>{{ formatNumber(computeTotal('subtotal'), true, 0) }}</strong>
                            </td>
                        </tr>
                        <tr class="bg-white roboto-mono">
                            <td class="text-left border-top-1 border-bottom-1" colspan="5"><strong>Fin del Listado</strong></td>
                            <td class="text-right border-top-1 border-bottom-1">www.puntodeventa.com.py</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>

<style scoped>
@media print {
    /* .proforma-wrapper {
        visibility: visible;
        border-radius: 10px;
        border: 2px solid black;
    } */

    .proforma-content * {
        visibility: visible;
    }

    .proforma-content {
        page-break-after: always; /* Cada proforma-content comenzará en una nueva página */
        /* Asegura que haya espacio suficiente en la parte inferior para el pie de página */
        padding-bottom: 100px; /* Ajustar según la altura del pie de página */
    }

    .print-footer {
        position: static; /* O quitar completamente la propiedad position si no es necesaria */
        width: 100%;
        /* Asegurarse de que se coloca en la parte inferior del contenido de .proforma-content */
    }

    /* Ocultar elementos que no sean necesarios en la versión impresa */
    .headerFilter,
    .non-printing {
        display: none;
    }
}
</style>

<script setup>
import GenericIndexReportGenerator from '@/components/reports/GenericIndexReportGenerator.vue';
import IndexAndReportFiltersGeneric from '@/components/headers/IndexAndReportFiltersGeneric.vue';
import { ref, onMounted, reactive } from 'vue';
import { getEstadoCuenta2 } from '@/http/clientes/clientes-api';
import { formatNumber } from '@/utils/functions';
import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';
import { onClose } from '@/utils/functions';
import { getItemsAndMetaFromData, mapItemsToIndexFormat } from '@/utils/transformers/fetchTransformers';
import ReportHeader from '@/components/headers/ReportHeader.vue';
import { useClientesStore } from '@/stores/dropdowns/clienteDropdown';
import { useEmpresaStore } from '@/stores/empresaStore';

const empresaStore = useEmpresaStore();

const empresa = ref('');
const subtitle = 'Estado de Cuenta de Clientes';

const libroDiarioIndex = ref([]);
const groupedData = ref({});
const filter = ref('');

const clienteStore = useClientesStore();
const centrosCostosSelected = ref([]);

const groupBy = (array, keys) => {
    return array.reduce((acc, obj) => {
        let key = keys.map((k) => obj[k]).join('***');
        if (!acc[key]) acc[key] = [];
        acc[key].push(obj);
        return acc;
    }, {});
};

const computeGroupTotal = (groupKey, field) => groupedData.value[groupKey].reduce((acc, obj) => acc + parseFloat(obj[field] || 0), 0);

const computeTotal = (field) => libroDiarioIndex.value.reduce((acc, obj) => acc + parseFloat(obj[field] || 0), 0);

const getGroupComments = (groupKey) => {
    const uniqueComments = [...new Set(groupedData.value[groupKey].map((item) => item.comments))].filter(Boolean);
    return uniqueComments.join(' | ');
};

const printClick = () => window.print();

const handleFilters = (filters) => {
    //     updateSubtitle(filters);
    //     fetchData(filters);
    const combinedFilters = {
        ...filters,

        id: centrosCostosSelected.value
    };

    updateSubtitle(combinedFilters);
    fetchData(combinedFilters);
};

const updateSubtitle = (filters) => {
    // if (filters) {
    //     filter.value = `Filtro:  Cliente: ${filters?.id}  `;
    // } else {
    //     filter.value = `Filtro:  cliente: ${''}  `;
    // }
};

const fetchData = async (filters) => {
    //const response = await getEstadoCuenta2({ id: filters?.id });

    const selectedId = filters?.id || router.currentRoute.value.params.id;
    const response = await getEstadoCuenta2({ id: selectedId });

    let { items } = getItemsAndMetaFromData(response);

    libroDiarioIndex.value = mapItemsToIndexFormat(items);

    libroDiarioIndex.value = response.data.data.map((item) => ({
        id: item.id,
        ...item.attributes
    }));

    groupedData.value = groupBy(libroDiarioIndex.value, ['cliente', 'nombre', 'ruc']);
};

onMounted(async () => {
    await empresaStore.fetchEmpresa(); // Asume que fetchEmpresa es asíncrono. Si no lo es, simplemente elimina el async/await.
    empresa.value = empresaStore.empresa.nombre;
    centrosCostosSelected.value = router.currentRoute.value.params.id;
    await clienteStore.fetchClientes();

    await fetchData();
});
</script>
