<script setup>
import { onMounted, reactive, computed, ref, nextTick } from 'vue';
import { getTipoEspecial } from '@/http/movimientosEspeciales/especiales-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';
import { formatNumber } from '@/utils/functions';
import { useProductosStore } from '@/stores/dropdowns/productoDropdown';

const id = router.currentRoute.value.params.id;

// Usa la función para crear una instancia del store

const form = reactive({ tipo: null });

const productosStore = useProductosStore();
const tiposMovimiento = ref([]);

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    try {
        const [familyData] = await fetchData(() => Promise.all([getTipoEspecial(form.tipo)]));

        Object.assign(form, { ...familyData.data[0].attributes });
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const items = ref([
    {
        label: '..',
        icon: 'fas fa-user',
        command: () => {}
    }
]);

const initializeComponent = async () => {
    try {
        form.tipo = router.currentRoute.value.params.id;

        await fetchFamilyData();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
    try {
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Tipo de Movimiento Especial</h5>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Tipo</label>
                    <InputText v-model="form.tipo" id="id" type="text" class="text-xs text-center" disabled />
                </div>

                <div class="field col-12 md:col-5 px-1">
                    <label for="nombre">Nombre</label>
                    <InputText v-model="form.nombre" id="nombre" type="text" class="text-xs" />
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Abreviación</label>
                    <InputText v-model="form.abreviacion" id="abreviacion" rows="4" class="text-xs" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Signo</label>

                    <Dropdown
                        class="text-xs"
                        id="clase"
                        v-model="form.signo"
                        :options="[
                            { name: 'POSITIVO (+)', code: 1 },
                            { name: 'NEGATIVO (-)', code: -1 }
                        ]"
                        optionLabel="name"
                        optionValue="code"
                        placeholder=""
                        :style="{ width: '100%' }"
                    ></Dropdown>
                </div>
            </div>
        </div>
    </div>

    <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose">
        <template #start>
            <div :style="{ position: 'relative', height: '50px' }">
                <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
            </div>
        </template>
    </FormButtons>
</template>
<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

::v-deep(.black-text) {
    color: black !important;
}

.p-inputtext {
    color: black !important;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 15px !important;
    /* font-size: 1.025em; */
    /* font-weight: bold; */
}

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
    font-size: 15px !important;
}

.p-splitbutton .p-menuitem-link:hover {
    background-color: red !important;
}
</style>
