<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportFiltersGeneric @apply-filters="handleFilters" @clear-filters="handleFilters" class="headerFilter">
                <template #additional-filters="slotProps">
                    <div class="flex flex-row gap-2">
                        <div>
                            <label for="" class="text-primary">Desde:</label>
                            <Calendar v-model="desde" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="Desde" class="w-full md:w-10rem"></Calendar>
                        </div>

                        <div>
                            <label for="" class="text-primary">Hasta:</label>
                            <Calendar v-model="hasta" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="hasta" class="w-full md:w-10rem"></Calendar>
                        </div>

                        <div>
                            <label for="" class="text-primary">Cliente:</label>
                            <MultiSelect filter v-model="centrosCostosSelected" optionValue="code" optionLabel="combined" :options="clienteStore.clientes" class="w-full md:w-10rem" />
                        </div>
                        <div>
                            <label for="" class="text-primary">Vendedor:</label>
                            <MultiSelect filter v-model="centrosCostosSelected2" optionValue="code" optionLabel="name" :options="vendedorStore.vendedores" class="w-full md:w-10rem" />
                        </div>
                    </div>
                </template>
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportFiltersGeneric>
        </div>

        <div id="print-content" class="flex-grow-1 overflow-y-auto max-h-2-rem">
            <GenericIndexReportGenerator :data="cuentasContables" :headers="columns" :title="empresa" subtitle="Resumen de Ventas Mensuales por Familias" :filter="filter" />
        </div>
        <div v-if="isLoading" class="flex justify-content-center align-items-center h-30rem">
            <ProgressSpinner></ProgressSpinner>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import IndexAndReportFiltersGeneric from '@/components/headers/IndexAndReportFiltersGeneric.vue';
import GenericIndexReportGenerator from '@/components/reports/GenericIndexReportGenerator.vue';
import IndexAndReportHeaderWithRange from '@/components/headers/IndexAndReportHeaderWithRange.vue';
import { onClose } from '@/utils/functions';
import { getResumenVentasFamiliasMeses } from '@/http/ventas/ventas-api';
import { formatNumber } from '@/utils/reports/format.js';
import { useClientesStore } from '@/stores/dropdowns/clienteDropdown';
import { useVendedoresStore } from '@/stores/dropdowns/vendedorDropdown';
import ProgressSpinner from 'primevue/progressspinner';

const cuentasContables = ref([]);
const isLoading = ref(false);
const clienteStore = useClientesStore();
const vendedorStore = useVendedoresStore();
const centrosCostosSelected = ref([]);
const centrosCostosSelected2 = ref([]);
const title = ref(null);
const subtitle = ref(null);
const empresa = ref(null);
const filter = ref(null);

const formatDate = (date) => {
    if (typeof date !== 'string') {
        return null; // Manejar casos en los que date no sea una cadena
    }
    return date.substring(0, 10);
};

const desde = ref(new Date());
const hasta = ref(new Date());

const columns = ref([
    { title: 'Familia', key: 'nombre', summable: false, align: 'left', width: '15%' },
    { title: 'Ene', key: 'ene', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Feb', key: 'feb', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Mar', key: 'mar', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Abr', key: 'abr', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'May', key: 'may', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Jun', key: 'jun', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Jul', key: 'jul', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Ago', key: 'ago', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Set', key: 'set', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Oct', key: 'oct', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Nov', key: 'nov', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Dic', key: 'dic', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Totales', key: 'total', summable: true, align: 'right', width: '15%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: '%', key: 'porcentaje', summable: false, align: 'right', width: '5%', useThousandsSeparator: false, decimalPlaces: 2 }
]);

const printClick = () => {
    // document.body.classList.add('printing');
    window.print();
    // document.body.classList.remove('printing');
};

const handleFilters = (filters) => {
    // updateSubtitle(filters);
    // fetchData(filters);
    const combinedFilters = {
        ...filters,
        desde: formatDate(desde.value.toISOString()),
        hasta: formatDate(hasta.value.toISOString()),
        cliente: centrosCostosSelected.value,
        vendedor: centrosCostosSelected2.value
    };

    updateSubtitle(combinedFilters);
    fetchData(combinedFilters);
};

// const updateSubtitle = (filters) => {
//     if (filters) {
//         filter.value = `Filtro:  desde: ${filters?.desde} - hasta: ${filters?.hasta} `;
//     } else {
//         filter.value = `Filtro:  desde: ${''} - hasta: ${''} `;
//     }
// };

const updateSubtitle = (filters) => {
    if (!filters) {
        return;
    }

    const cliente = filters.id && filters.cliente.length ? (filters.cliente.length > 1 ? '...' : filters.cliente[0]) : '-' && filters.vendedor.length ? (filters.vendedor.length > 1 ? '...' : filters.vendedor[0]) : '-';
    const vendedor = filters.id && filters.vendedor.length ? (filters.vendedor.length > 1 ? '...' : filters.vendedor[0]) : '-' && filters.vendedor.length ? (filters.vendedor.length > 1 ? '...' : filters.vendedor[0]) : '-';

    let baseSubtitle = 'Filter';
    let dateSubtitle = `- Desde: ${filters.desde || '-'} - Hasta: ${filters.hasta || '-'} - Cliente: ${cliente} - Vendedor: ${vendedor}`;

    filter.value = `${baseSubtitle} ${dateSubtitle}  `;
};

const fetchData = async (filters = null) => {
    isLoading.value = true;

    const response = await getResumenVentasFamiliasMeses({
        desde: filters?.desde,
        hasta: filters?.hasta,
        cliente: filters?.cliente,
        vendedor: filters?.vendedor
    });

    isLoading.value = false;

    // Destructuring para obtener directamente response.data.data
    const {
        data: { data: items, meta }
    } = response;

    // Mapea los items para aplanar la estructura
    cuentasContables.value = items.map((item) => {
        let formattedItem = {
            id: item.id,
            ...item.attributes
        };

        columns.value.forEach((column) => {
            if (column.useThousandsSeparator !== undefined && column.decimalPlaces !== undefined) {
                formattedItem[column.key] = formatNumber(item.attributes[column.key], column.useThousandsSeparator, column.decimalPlaces);
            }
        });

        return formattedItem;
    });

    debugger;

    // const sumaTotal = cuentasContables.value.reduce((total, element) => {
    //         console.log("Valor de total:", total);
    //         console.log("Valor de element:", element);
    //         return total + parseFloat(element.total);
    //     }, 0);

    //     debugger;
    //empresa.value = meta.nombreEmpresa;
};

onMounted(async () => {
    // await fetchData();
    await clienteStore.fetchClientes();
    await vendedorStore.fetchVendedores(); // Esta línea llama a la función del store
});
</script>

<style scoped>
.max-h-74vh {
    max-height: 74vh;
}

@media print {
    /* Paso 1: Oculta todo durante la impresión */
    body > * {
        display: none !important;
    }

    /* Paso 2: Muestra sólo el contenido que quieres imprimir */
    #print-content {
        display: block !important;
    }
}
</style>
