<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportHeaderWithRange @apply-filters="handleFilters" @clear-filters="handleFilters">
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 mx-4 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportHeaderWithRange>
        </div>

        <div id="print-content" class="flex-grow-1 overflow-y-auto max-h-2-rem">
            <GenericIndexReportGenerator :data="cuentasContables" :headers="columns" :title="empresa" subtitle="Resumen de Ventas por Familias" :filter="filter" />
        </div>
        <div v-if="isLoading" class="flex justify-content-center align-items-center h-30rem">
            <ProgressSpinner></ProgressSpinner>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import GenericIndexReportGenerator from '@/components/reports/GenericIndexReportGenerator.vue';
import IndexAndReportHeaderWithRange from '@/components/headers/IndexAndReportHeaderWithRange.vue';
import { onClose } from '@/utils/functions';
import { getVentasFamilias } from '@/http/ventas/ventas-api';
import { formatNumber } from '@/utils/reports/format.js';
import ProgressSpinner from 'primevue/progressspinner';

const cuentasContables = ref([]);
const isLoading = ref(false);
const title = ref(null);
const subtitle = ref(null);
const empresa = ref(null);
const filter = ref(null);

const columns = ref([
    { title: 'Familia', key: 'nombre', summable: false, align: 'left', width: '30%' },
    { title: 'Cantidad', key: 'cantidades', summable: true, align: 'right', width: '7%', useThousandsSeparator: true, decimalPlaces: 0 },

    { title: 'Total en Gs.', key: 'neto', summable: true, align: 'right', width: '15%', useThousandsSeparator: true, decimalPlaces: 0 }
]);

const printClick = () => {
    document.body.classList.add('printing');
    window.print();
    document.body.classList.remove('printing');
};

const handleFilters = (filters) => {
    updateSubtitle(filters);
    fetchData(filters);
};

const updateSubtitle = (filters) => {
    if (filters) {
        filter.value = `Filtro:  desde: ${filters?.desde} - hasta: ${filters?.hasta} `;
    } else {
        filter.value = `Filtro:  desde: ${''} - hasta: ${''} `;
    }
};

const fetchData = async (filters = null) => {
    isLoading.value = true;
    const response = await getVentasFamilias({
        desde: filters?.desde,
        hasta: filters?.hasta
    });
    isLoading.value = false;

    // Destructuring para obtener directamente response.data.data
    const {
        data: { data: items, meta }
    } = response;

    // Mapea los items para aplanar la estructura
    cuentasContables.value = items.map((item) => {
        let formattedItem = {
            id: item.id,
            ...item.attributes
        };

        columns.value.forEach((column) => {
            if (column.useThousandsSeparator !== undefined && column.decimalPlaces !== undefined) {
                formattedItem[column.key] = formatNumber(item.attributes[column.key], column.useThousandsSeparator, column.decimalPlaces);
            }
        });

        return formattedItem;
    });

    empresa.value = meta.nombreEmpresa;
};

onMounted(async () => {
    // await fetchData();
});
</script>

<style scoped>
.max-h-74vh {
    max-height: 74vh;
}

@media print {
    /* Paso 1: Oculta todo durante la impresión */
    body > * {
        display: none !important;
    }

    /* Paso 2: Muestra sólo el contenido que quieres imprimir */
    #print-content {
        display: block !important;
    }
}
</style>
