<script setup>
import { onMounted, reactive, ref } from 'vue';
import { getOperador, updateOperador, insertOperador, deleteOperador, getMaxOperadorId } from '@/http/operadores/operadores-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { useCuentasContablesStore } from '@/stores/dropdowns/contabilidadDropdown';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const id = router.currentRoute.value.params.id;

const form = reactive({ operador_id: null });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});
const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData] = await fetchData(() => Promise.all([getOperador(form.operador_id)]));
    Object.assign(form, { ...familyData.data[0].attributes });
};

const validationRules = {
    nombre: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const handleDelete = async () => {
    try {
        const result = await deleteOperador({ id: form.operador_id });

        if (result.status === 204) {
            toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
        } else {
            toast.add({ severity: 'error', summary: 'Error al Eliminar', life: 2000 });
        }

        setTimeout(() => {
            onClose();
        }, TIME_CLOSE);
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (id && form.operador_id) {
                result = await updateOperador({ ...form, id: form.operador_id });
                console.log('handleSave update');
            } else {
                result = await insertOperador(form);
                console.log('handleSave insert');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

const initializeComponent = async () => {
    try {
        form.operador_id = router.currentRoute.value.params.id;

        if (!form.operador_id) {
            const maxIdResponse = await getMaxOperadorId();

            if (maxIdResponse && maxIdResponse.data[0] && maxIdResponse.data[0].attributes) {
                console.log('iffff');
                const maxId = parseInt(maxIdResponse.data[0].attributes.maxID) + 1;
                form.operador_id = maxId;
            } else {
                form.operador_id = 1;
            }
        } else {
            await fetchFamilyData();
        }
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Operador</h5>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">Operador</label>
                    <InputText v-model="form.operador_id" id="id" type="text" class="text-xs text-center" disabled />
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-3 px-1">
                    <label for="nombre">Nombre</label>
                    <InputText v-model="form.nombre" id="nombre" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.nombre.$errors" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose"></FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}
</style>
