<script setup>
import { onMounted, reactive, ref } from 'vue';
import { getVendedor, updateVendedor, insertVendedor, deleteVendedor, getMaxVendedorId } from '@/http/vendedores/vendedores-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const id = router.currentRoute.value.params.id;

const form = reactive({
    vendedor: null
});

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});
const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData] = await fetchData(() => Promise.all([getVendedor(form.vendedor)]));
    Object.assign(form, { ...familyData.data[0].attributes });
};

const validationRules = {
    nombre: { required: helpers.withMessage(messages.required, required) },
    direccion: { required: helpers.withMessage(messages.required, required) },
    barrio: { required: helpers.withMessage(messages.required, required) },
    localidad: { required: helpers.withMessage(messages.required, required) },
    telefono: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const handleDelete = async () => {
    try {
        const result = await deleteVendedor({ id: form.vendedor });

        if (result.status === 204) {
            toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
        } else {
            toast.add({ severity: 'error', summary: 'Error al Eliminar', life: 2000 });
        }

        setTimeout(() => {
            onClose();
        }, TIME_CLOSE);
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (id && form.vendedor) {
                result = await updateVendedor({ ...form, id: form.vendedor });
                console.log('handleSave update');
            } else {
                result = await insertVendedor(form);
                console.log('handleSave insert');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

const initializeComponent = async () => {
    try {
        form.vendedor = router.currentRoute.value.params.id;

        if (!form.vendedor) {
            const maxIdResponse = await getMaxVendedorId();
            if (maxIdResponse && maxIdResponse.data[0] && maxIdResponse.data[0].attributes) {
                const maxId = parseInt(maxIdResponse.data[0].attributes.maxID) + 1;
                form.vendedor = maxId;
            } else {
                form.vendedor = 1;
            }
        } else {
            await fetchFamilyData();
        }
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const items = ref([
    // {
    //     label: 'Ver Estado Cta.',
    //     icon: 'fas fa-user',
    //     command: () => {
    //         onShowEstadoCuenta();
    //     }
    // }
]);

onMounted(async () => {
    await initializeComponent();
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Vendedor</h5>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="id">ID</label>
                    <InputText v-model="form.vendedor" id="id" type="text" class="text-xs text-center" disabled />
                </div>

                <div class="field col-12 md:col-5 px-1">
                    <label for="nombre">Nombre</label>
                    <InputText v-model="form.nombre" id="nombre" type="text" class="text-xs" />
                    <ErrorMessages :errors="v$.nombre.$errors" />
                </div>
            </div>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-5 px-1">
                    <label for="direccion">Dirección</label>
                    <InputText v-model="form.direccion" id="direccion" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.direccion.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Barrio</label>
                    <InputText v-model="form.barrio" id="barrio" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.barrio.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Localidad</label>
                    <InputText v-model="form.localidad" id="localidad" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.localidad.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1">
                    <label for="direccion">Teléfono</label>
                    <InputText v-model="form.telefono" id="telefono" rows="4" class="text-xs" />
                    <ErrorMessages :errors="v$.telefono.$errors" />
                </div>
            </div>
        </div>
        <div class="card surface-300 bg-white">
            <h5 class="text-blue-500 text-base">Datos de Auditoría</h5>
            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="precio_venta">Fecha de Alta</label>
                    <InputText v-model="form.fecha_alta" id="fecha_alta" type="text" class="text-xs text-center" disabled />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="precio_venta">Última Venta</label>
                    <InputText v-model="form.ultima_venta" id="ultima_venta" type="text" class="text-xs text-center" disabled />
                </div>
            </div>
        </div>
    </div>

    <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose">
        <template #start>
            <div :style="{ position: 'relative', height: '50px' }">
                <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
            </div>
        </template>
    </FormButtons>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

::v-deep(.black-text) {
    color: black !important;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}
</style>
