<script setup>
import { onMounted, reactive, ref } from 'vue';
import { getTimbrado, deleteTimbrado, updateTimbrado, insertTimbrado } from '@/http/timbrados/timbrados-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';

const id = router.currentRoute.value.params.id;

const form = reactive({
    timbrado: null
});

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const errorMessage = ref('');

const fetchData = async (fetchFunction) => {
    try {
        return await fetchFunction();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const fetchFamilyData = async () => {
    const [familyData] = await fetchData(() => Promise.all([getTimbrado(form.timbrado)]));
    Object.assign(form, { ...familyData.data[0].attributes });
};

const validationRules = {
    timbrado: { required: helpers.withMessage(messages.required, required) },
    fecha_desde: { required: helpers.withMessage(messages.required, required) },
    fecha_hasta: { required: helpers.withMessage(messages.required, required) },
    factura_ini: { required: helpers.withMessage(messages.required, required) },
    factura_fin: { required: helpers.withMessage(messages.required, required) }
};

const v$ = useVuelidate(validationRules, form);

const executeOperationWithFeedback = async (result) => {
    console.log('executeOperationWithFeedback', result.status);

    if (result.status == 204 || result.status == 200) {
        toast.add({ severity: 'success', summary: 'Guardado Exitoso', life: 2000 });
    } else {
        toast.add({ severity: 'error', summary: 'Error al Guardar', life: 2000 });
    }
};

const handleDelete = async () => {
    try {
        const result = await deleteTimbrado({ id: form.timbrado });

        if (result.status === 204) {
            toast.add({ severity: 'success', summary: 'Eliminación Exitosa', life: 2000 });
        } else {
            toast.add({ severity: 'error', summary: 'Error al Eliminar', life: 2000 });
        }

        setTimeout(() => {
            onClose();
        }, TIME_CLOSE);
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleSave = async () => {
    if (await v$.value.$validate()) {
        let result;
        try {
            if (id && form.timbrado) {
                result = await updateTimbrado({ ...form, id: form.timbrado });

                console.log('handleSave update');
            } else {
                result = await insertTimbrado(form);
                console.log('handleSave insert');
            }
            await executeOperationWithFeedback(result);

            setTimeout(() => {
                onClose();
            }, TIME_CLOSE);
        } catch (error) {
            toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
        }
    } else {
        console.log('The form is not valid');
    }
};

// const formatDate = (parametro) => {
//   if (parametro) {
//     // Formatea la fecha utilizando la función 'format' de 'date-fns'
//     return dateFilter.format( (parametro), 'mm/dd/yyyy');
//   } else {
//     return ''; // Si no se proporciona una fecha, devuelve una cadena vacía
//   }
// };

const initializeComponent = async () => {
    try {
        form.timbrado = router.currentRoute.value.params.id;

        if (form.timbrado) {
            await fetchFamilyData();
        }
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const items = ref([
    // {
    //     label: 'Ver Estado Cta.',
    //     icon: 'fas fa-user',
    //     command: () => {
    //         onShowEstadoCuenta();
    //     }
    // }
]);

onMounted(async () => {
    await initializeComponent();
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="card surface-300 my-3 bg-white">
            <h5 class="text-blue-500 text-2xl text-center">Timbrado</h5>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="id">Timbrado</label>
                    <InputText v-model="form.timbrado" id="id" type="text" class="text-xs text-center" />
                    <ErrorMessages :errors="v$.timbrado.$errors" />
                </div>
            </div>

            <div class="p-fluid formgrid grid">
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="nombre">Fecha Inicio</label>
                    <Calendar v-model="form.fecha_desde" inputClass="text-center" id="fecha_desde" dateFormat="dd-mm-yy" showIcon />
                    <ErrorMessages :errors="v$.fecha_desde.$errors" />
                </div>
                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="nombre">Fecha Fin</label>

                    <Calendar v-model="form.fecha_hasta" inputClass="text-center" id="fecha_hasta" showIcon />
                    <ErrorMessages :errors="v$.fecha_hasta.$errors" />
                    <!-- Muestra la fecha formateada en un párrafo -->
                </div>

                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="nombre">Desde</label>
                    <InputText v-model="form.factura_ini" id="factura_ini" type="text" class="text-xs text-center" />
                    <ErrorMessages :errors="v$.factura_ini.$errors" />
                </div>
                <div class="field col-12 md:col-1 px-1 text-center">
                    <label for="nombre">Hasta</label>
                    <InputText v-model="form.factura_fin" id="factura_fin" type="text" class="text-xs text-center" />
                    <ErrorMessages :errors="v$.factura_fin.$errors" />
                </div>

                <div class="field col-12 md:col-2 px-1 text-center">
                    <label for="nombre">Estado</label>

                    <Dropdown
                        class="text-xs text-center"
                        id="clase"
                        v-model="form.estado"
                        :options="[
                            { name: 'ACTIVO', code: 'S' },
                            { name: 'INACTIVO', code: 'N' }
                        ]"
                        optionLabel="name"
                        optionValue="code"
                        placeholder=""
                        :style="{ width: '100%' }"
                    ></Dropdown>
                </div>
            </div>
        </div>
    </div>

    <FormButtons @delete="handleDelete()" @save="handleSave" @close="onClose">
        <template #start>
            <div :style="{ position: 'relative', height: '50px' }">
                <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
            </div>
        </template>
    </FormButtons>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

::v-deep(.black-text) {
    color: black !important;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}
</style>
