<script setup>
import { ref, onMounted, reactive } from 'vue';
import { getCobros } from '@/http/cobros/cobros-api';
import { formatNumber } from '@/utils/functions';
import DateRangeFilter from '@/components/headers/filters/DateRangeFilter.vue';

import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';

const registros = ref([]);
const actualPage = ref(1);

let initialDate = null;
let finalDate = null;

const spinner = ref(false);
const search = ref(null);
const meta = reactive({ total_records: 0, total_factura: 0, total_pagado: 0 });

const onSearch = async (ini, fin) => {
    initialDate = ini;
    finalDate = fin;

    actualPage.value = 1;
    await fetchData();
};

const onCSV = async () => {
    // await getCobrosCSV({ search: search.value });
};

const onPage = async (e) => {
    actualPage.value = e.page + 1;
    await fetchData();
};

const fetchData = async () => {
    try {
        const data = await getCobros({
            pagina: actualPage.value,
            fecha_desde: initialDate,
            fecha_hasta: finalDate
        });

        registros.value = data.data;

        //SE RESTA 20 POR LA DIFERENCIA DE OFFSET
        // meta.total_records = data.meta.total_records - 20;
        // 02/08/2023 EB, MUESTRO LA CANTIDAD DE REGISTROS SIN RESTAR DE A CUENTA INFO SE TRAE
        meta.total_records = data.meta.total_records;
        meta.total_importe = data.meta.importe;
    } catch (error) {
        console.error('Error:', error);
    }
};

onMounted(fetchData);
</script>

<template>
    <div class="grid my-2">
        <div class="col-12">
            <!-- <h5 class="text-center">Ventas</h5> -->
            <!-- <h5 class="logo-title text-center">COBRANZAS POR FECHAS</h5> -->
            <h5 class="text-blue-500 text-2xl text-center">Cobros por Fechas</h5>
            <DateRangeFilter @search="onSearch"></DateRangeFilter>
            <DataTable
                :value="registros"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer"
                :rows="20"
                :totalRecords="meta.total_records"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="55vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
                :currentPageReportTemplate="`{first} al {last} de {totalRecords} registros   -   Pagina: {currentPage} de {totalPages}`"
                @row-click="onRowClick"
            >
                <Column field="id" header="Cobro ID" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.fecha" header="Fecha" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.tipo" header="Tipo" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.sucursal" header="Sucursal" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.factura" header="Factura" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <template #body="slotProps"> {{ slotProps.data.attributes.factura }} </template>
                </Column>

                <Column field="attributes.recibo" header="Recibo" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.formaPago" header="Forma de Pago" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
                <Column field="attributes.importe" footer-style="color:black" :footer="formatNumber(meta.total_importe)" header="Total Importe" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.attributes.importe || 0) }}
                    </template>
                </Column>
                <Column field="attributes.nombreCliente" header="Cliente" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
            </DataTable>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}

::v-deep(.p-datatable-tfoot tr) {
    color: black;
}
</style>
