<script setup>
import { onMounted, reactive, computed, ref, nextTick } from 'vue';
import { getVenta, getCondicionesVentaDropdown } from '@/http/ventas/ventas-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';
import AsientosComponent from '@/components/accounting/AsientosComponent.vue';
import { useClientesStore } from '@/stores/dropdowns/clienteDropdown';
import { useVendedoresStore } from '@/stores/dropdowns/vendedorDropdown';
import { formatNumber } from '@/utils/functions';
import { useProductosStore } from '@/stores/dropdowns/productoDropdown';

const factura = router.currentRoute.value.params.factura;
const tipo = router.currentRoute.value.params.tipo;
const sucursal = router.currentRoute.value.params.sucursal;

// Usa la función para crear una instancia del store
const clienteStore = useClientesStore();

const vendedorStore = useVendedoresStore();

const productosStore = useProductosStore();

const condicionesVenta = ref([]);

const form = reactive({ master: {}, detail: [] });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const errorMessage = ref('');

const fetchData = async () => {
    try {
        const data = await getVenta({ factura, tipo, sucursal });

        form.master = { ...data.data.attributes };
        form.detail = data.data.relationships.detalles.data.map((element, i) => {
            return { ...element.attributes, rowNum: i + 1 };
        });
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleFetchCondicionesVenta = async () => {
    try {
        const condicionesIndex = await getCondicionesVentaDropdown();
        condicionesVenta.value = condicionesIndex;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const summary = computed(() => {
    let sums = {
        ivaincluido: 0,
        exento: 0,
        subtotalGeneral: 0
    };

    form.detail.forEach((venta) => {
        const precioVenta = parseInt(venta.precio_venta) || 0;
        const cantidad = parseInt(venta.cantidad) || 0;

        if (venta.porcentaje_iva > 0 || venta.iva === 'S') {
            sums.ivaincluido += precioVenta * cantidad;
        } else if (venta.porcentaje_iva === 0 || venta.iva == 'N') {
            sums.exento += precioVenta * cantidad;
        }

        sums.subtotalGeneral = sums.exento + sums.ivaincluido;
    });

    return sums;
});

const onShowAsiento = () => {
    const anio = form.master.asiento_ejercicio;
    const empresa = form.master.empresaContable;
    const asiento = form.master.asiento_numero;

    router.push({ name: 'asientos', params: { anio, empresa, asiento } });
};

const items = ref([
    {
        label: 'Ver Ficha del Cliente',
        icon: 'fas fa-user',
        command: () => {
            onShowFichaCliente();
        }
    },
    {
        label: 'Ver Plan de Pago',
        icon: 'pi pi-trash',
        command: () => {
            onShowPlanPago();
        }
    } ,
    {
        label: 'Ver Pagos Registrados',
        icon: 'pi pi-refresh',
        command: () => {
            onShowCobros();
        }
    },
    
 
]);

const onShowPlanPago = () => {
    router.push({ name: 'plan-pago/venta', params: { factura, tipo, sucursal } });
};
 

const onShowFichaCliente = (event) => {
    router.push({ name: 'cliente', params: { id: form.master.cliente } });
};

const onShowCobros = () => {
    router.push({ name: 'cobros/venta', params: { factura, tipo, sucursal } });
};

const initializeComponent = async () => {
    try {
        await handleFetchCondicionesVenta();
        await fetchData();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
    try {
        await clienteStore.fetchClientes(); // Esta línea llama a la función del store
        await vendedorStore.fetchVendedores(); // Esta línea llama a la función del store
        await productosStore.fetchProductos();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="p-fluid formgrid mb-2">
            <div class="card surface-300 bg-white">
                <h5 class="text-blue-500 text-2xl text-center">Operaciones de Ventas</h5>
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="id">Prefijo</label>
                        <InputText v-model="form.master.prefijo" id="prefijo" type="text" class="text-xs text-center" disabled />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="nombreComercial">Nro. Factura</label>
                        <InputText v-model="form.master.factura" id="nombreComercial" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="id">Tipo de Factura</label>
                        <!-- <InputText v-model="form.master.tipo" id="tipo" :value="form.master.tipo == 1 ? 'CONTADO' : 'CREDITO'" type="text" class="text-xs" disabled /> -->
                        <Dropdown
                            class="text-xs text-center"
                            id="clase"
                            v-model="form.master.tipo"
                            :options="[
                                { name: 'CONTADO', code: 1 },
                                { name: 'CREDITO', code: 2 }
                            ]"
                            optionLabel="name"
                            optionValue="code"
                            placeholder=""
                            :style="{ width: '100%' }"
                        ></Dropdown>
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="nombreComercial">Sucursal</label>
                        <InputText v-model="form.master.sucursal" id="sucursal" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="id">Fecha</label>
                        <Calendar v-model="form.master.fecha" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>

                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="nombreComercial">Timbrado</label>
                        <!-- <InputText v-model="form.master.timbrado" id="timbrado" type="text" class="text-xs" /> -->
                        <InputNumber input-class="text-center" v-model="form.master.timbrado" :maxFractionDigits="20" disabled />
                    </div>

                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="id">Estado</label>

                        <Dropdown
                            class="text-xs text-center"
                            id="clase"
                            v-model="form.master.estado"
                            :options="[
                                { name: 'VIGENTE', code: '1' },
                                { name: 'ANULADO', code: '9' }
                            ]"
                            optionLabel="name"
                            optionValue="code"
                            placeholder=""
                            :style="{ width: '100%' }"
                        ></Dropdown>
                    </div>

                    <div class="field col-12 md:col-5 px-1">
                        <label for="id">Cliente</label>
                        <Dropdown inputClass="text-xs font-normal" filter v-model="form.master.cliente" :options="clienteStore.clientes" optionLabel="combined" optionValue="code" placeholder="Seleccione un cliente">
                            <template #option="slotProps">
                                <div class="not-bold text-xs">{{ slotProps.option.combined }}</div>
                            </template>
                        </Dropdown>
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="id">RUC</label>
                        <InputText v-model="form.master.ruc" id="ruc" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-5 px-1">
                        <label for="id">Vendedor</label>
                        <!-- <InputText v-model="form.master.Vendedor" id="vendedor" type="text" class="text-xs" /> -->
                        <Dropdown inputClass="text-xs font-normal" filter v-model="form.master.vendedor" :options="vendedorStore.vendedores" optionLabel="name" optionValue="code" placeholder="Seleccione un vendedor">
                            <template #option="slotProps">
                                <div class="not-bold text-xs">{{ slotProps.option.name }} - {{ slotProps.option.code }}</div>
                            </template>
                        </Dropdown>
                    </div>
                    <div class="field col-12 md:col-10 px-1">
                        <label for="notas">Notas</label>
                        <Textarea v-model="form.master.notas" rows="2" cols="" id="" type="text" class="text-xs" />
                    </div>
                    <div class="field col-12 md:col-2 px-1">
                        <label for="id">Condición</label>
                        <Dropdown inputClass="text-xs font-normal" filter v-model="form.master.condicion" :options="condicionesVenta" optionLabel="name" optionValue="code" placeholder="Seleccione una condición/plazo">
                            <template #option="slotProps">
                                <div class="not-bold text-xs">{{ slotProps.option.name }} - {{ slotProps.option.code }}</div>
                            </template>
                        </Dropdown>
                    </div>
                </div>
            </div>
        </div>
        <AsientosComponent class="py-3 mb-2" @show="onShowAsiento" :asiento="{ asientoNumero: form.master.asiento_numero, asientoEjercicio: form.master.asiento_ejercicio, empresaContable: form.master.empresaContable }"> </AsientosComponent>
        <div class="card surface-300 bg-white">
            <h5 class="text-blue-500 text-base">Información del Detalle</h5>
            <DataTable
                :value="form.detail"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer text-black"
                :rows="100"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="35vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                @row-click="onRowClick"
            >
                <Column field="item" header="Item" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <div :id="'detail-' + slotProps.index" tabindex="-1" class="not-bold text-xs px-1">{{ slotProps.index + 1 }}</div>
                    </template>
                </Column>
                <Column field="producto" header="Producto" headerClass="text-white bg-blue-500 text-sm p-2" bodyClass="text-black text-sm text-center p-2">
                    <template #body="slotProps">
                        <Dropdown
                            class="w-full"
                            inputClass="font-normal"
                            @keyup.enter="addNewItemToDetail"
                            filter
                            editable
                            v-model="slotProps.data.producto"
                            :options="productosStore.productos"
                            optionLabel="name"
                            optionValue="code"
                            placeholder="Seleccione un producto"
                        >
                            <template #option="slotProps">
                                <div class="not-bold text-xs px-1">{{ slotProps.option.name }}</div>
                            </template>
                        </Dropdown>
                    </template>
                </Column>

                <Column field="cantidad" header="Cantidad" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <InputNumber :minFractionDigits="0" input-class="text-right  w-6rem" @keyup.enter="addNewItemToDetail" v-model="slotProps.data.cantidad" inputId="" />
                    </template>
                </Column>
                <Column field="precio_venta" header="Precio Unitario" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <InputNumber :minFractionDigits="0" input-class="text-right w-6rem" readonly @keyup.enter="addNewItemToDetail" v-model="slotProps.data.precio_venta" inputId="" disabled />
                    </template>
                </Column>
                <Column field="" header="Exentas" :footer="formatNumber(summary.exento)" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>

                    <template #body="slotProps">
                        {{ slotProps.data.porcentaje_iva === 0 || slotProps.data.iva === 'N' ? formatNumber(slotProps.data.cantidad * slotProps.data.precio_venta) : 0 }}
                    </template>
                </Column>
                <Column field="" header="IVA Incluido" :footer="formatNumber(summary.ivaincluido)" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ slotProps.data.porcentaje_iva > 0 || slotProps.data.iva === 'S' ? formatNumber(slotProps.data.cantidad * slotProps.data.precio_venta) : 0 }}
                    </template>
                </Column>
                <Column field="iva" header="IVA" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.porcentaje_iva) }}
                    </template>
                </Column>

                <Column header="Acciones" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <Button @click="onDeleteRow(slotProps.index)" icon="pi pi-trash" class="mr-2 p-button-danger" />
                    </template>
                </Column>
            </DataTable>
            <!-- <h5 class="text-right text-blue-500 text-base">Total General: {{ formatNumber(summary.subtotalGeneral) }}</h5> -->
            <h5 class="text-right text-blue-500 text-2xl">Total General: {{ formatNumber(summary.subtotalGeneral) }}</h5>
        </div>

        <FormButtons @close="onClose()">
            <template #start>
                <div :style="{ position: 'relative', height: '50px' }">
                    <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
                </div>
            </template>
        </FormButtons>
    </div>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

::v-deep(.black-text) {
    color: black !important;
}

.p-inputtext {
    color: black !important;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 15px !important;
    /* font-size: 1.025em; */
    /* font-weight: bold; */
}

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
    font-size: 15px !important;
}

.p-splitbutton .p-menuitem-link:hover {
    background-color: red !important;
}
</style>
