<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportHeaderWithRange @apply-filters="handleFilters" @clear-filters="handleFilters" class="headerFilter">
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 mx-4 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportHeaderWithRange>
        </div>

        <div id="contenido-a-imprimir" class="flex-grow-1 overflow-y-auto max-h-2-rem">
            <GenericIndexReportGenerator :data="cuentasContables" :headers="columns" :title="empresa" subtitle="Resumen de Ventas" :filter="filter" />
        </div>
        <div v-if="isLoading" class="flex justify-content-center align-items-center h-30rem">
            <ProgressSpinner></ProgressSpinner>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import GenericIndexReportGenerator from '@/components/reports/GenericIndexReportGenerator.vue';
import IndexAndReportHeaderWithRange from '@/components/headers/IndexAndReportHeaderWithRange.vue';
import { getVentasPDF } from '@/http/ventas/ventas-api';
import { formatNumber } from '@/utils/reports/format.js';
import { onClose } from '@/utils/functions';
import ProgressSpinner from 'primevue/progressspinner';

const cuentasContables = ref([]);

const title = ref(null);
const subtitle = ref(null);
const empresa = ref(null);
const filter = ref(null);

const isLoading = ref(false);

const columns = ref([
    { title: 'Fecha', key: 'fecha', summable: false, width: '10%' },
    { title: 'Tipo', key: 'tipo', summable: false, width: '5%' },
    { title: 'Suc.', key: 'sucursal', summable: false, align: 'center', width: '10%' },
    { title: 'Factura', key: 'factura', summable: false, align: 'center', width: '7%' },
    { title: 'Cliente', key: 'nombre', summable: false, align: 'left', width: '30%' },
    { title: 'R.U.C.', key: 'ruc', summable: false, align: 'left', width: '8%' },
    { title: 'Total Factura', key: 'total_factura', summable: true, align: 'right', width: '5%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Pagado', key: 'pagado', summable: true, align: 'right', width: '15%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Estado', key: 'estado', summable: false, align: 'center', width: '15%' },
    { title: 'Vendedor', key: 'vendedor', summable: false, align: 'left', width: '15%' }
]);

const printClick = () => {
    window.print(); // Lógica básica para imprimir
};

const handleFilters = (filters) => {
    updateSubtitle(filters);
    fetchData(filters);
};

const updateSubtitle = (filters) => {
    if (filters) {
        filter.value = `Filtro:  desde: ${filters?.desde} - hasta: ${filters?.hasta} `;
    } else {
        filter.value = `Filtro:  desde: ${''} - hasta: ${''} `;
    }
};

const fetchData = async (filters = null) => {
    isLoading.value = true;

    // console.log(`El valor de los filtros es: ${filters}`);
    const response = await getVentasPDF({ desde: filters?.desde, hasta: filters?.hasta });

    isLoading.value = false;
    // Destructuring para obtener directamente response.data.data
    const {
        data: { data: items, meta }
    } = response;

    cuentasContables.value = items.map((item) => {
        let formattedItem = {
            id: item.id,
            ...item.attributes
        };

        columns.value.forEach((column) => {
            if (column.useThousandsSeparator !== undefined && column.decimalPlaces !== undefined) {
                formattedItem[column.key] = formatNumber(item.attributes[column.key], column.useThousandsSeparator, column.decimalPlaces);
            }
        });

        return formattedItem;
    });

    empresa.value = meta.nombreEmpresa;
};

onMounted(async () => {
    // await fetchData();
});
</script>

<style scoped>
.max-h-74vh {
    max-height: 74vh;
}
</style>
