<script setup>
import { ref, onMounted, reactive } from 'vue';
import { getVentas, getVentasCSV } from '@/http/ventas/ventas-api';
import { formatNumber } from '@/utils/functions';
import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';

const registros = ref([]);
const actualPage = ref(1);
const search = ref(null);
const meta = reactive({ total_records: 0, total_factura: 0, total_pagado: 0 });

const onSearch = async (searchValue) => {
    actualPage.value = 1;
    search.value = searchValue;

    await fetchData();
};

const onCSV = async () => {
    await getVentasCSV({ search: search.value });
};

const onPage = async (e) => {
    actualPage.value = e.page + 1;
    await fetchData();
};

const fetchData = async () => {
    try {
        const data = await getVentas({
            pagina: actualPage.value,
            search: search.value
        });

        registros.value = data.data;

        //SE RESTA 20 POR LA DIFERENCIA DE OFFSET
        // meta.total_records = data.meta.total_records - 20;
        // 02/08/2023 EB, MUESTRO LA CANTIDAD DE REGISTROS SIN RESTAR DE A CUENTA INFO SE TRAE
        meta.total_records = data.meta.total_records;
        meta.total_factura = data.meta.total_factura;
        meta.total_pagado = data.meta.total_pagado;
    } catch (error) {
        console.error('Error:', error);
    }
};

const onRowClick = (event) => {
    const factura = event.data.id.factura;
    const tipo = event.data.id.tipo;
    const sucursal = event.data.id.sucursal;

    router.push({ name: 'venta', params: { factura, tipo, sucursal } });
};

onMounted(fetchData);
</script>

<template>
    <div class="grid my-2">
        <div class="col-12">
            <!-- <h5 class="text-center">Ventas</h5> -->
            <!-- <h5 class="logo-title text-center">VENTAS</h5> -->
            <h5 class="text-blue-500 text-2xl text-center">Ventas</h5>
            <SearchFilter @search="onSearch" @csv="onCSV"></SearchFilter>
            <DataTable
                :value="registros"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer"
                :rows="20"
                :totalRecords="meta.total_records"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="55vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
                :currentPageReportTemplate="`{first} al {last} de {totalRecords} registros   -   Pagina: {currentPage} de {totalPages}`"
                @row-click="onRowClick"
            >
                <Column field="attributes.fecha" header="Fecha" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }">{{ slotProps.data.attributes.fecha }}</span>
                    </template>
                </Column>
                <Column field="id.tipo" header="Tipo" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <!-- {{ slotProps.data.attributes.tipo == 1 ? 'CONTADO' : 'CREDITO' }} -->
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }">{{ slotProps.data.attributes.tipo == 1 ? 'CONTADO' : 'CREDITO' }}</span>
                    </template>
                </Column>
                <Column field="id.sucursal" header="Suc." headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }">{{ slotProps.data.attributes.sucursal }}</span>
                    </template>
                </Column>
                <Column field="id.factura" header="Factura" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <!-- {{ slotProps.data.attributes.prefijo }}-{{ slotProps.data.attributes.factura }}  -->
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }">{{ slotProps.data.id.factura }}</span>
                    </template>
                </Column>
                <Column field="attributes.nombre" header="Cliente" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }">{{ slotProps.data.attributes.nombre }}</span>
                    </template>
                </Column>
                <!-- <Column field="attributes.total_factura" footer-style="color:black" :footer="formatNumber(meta.total_factura)" header="Total Factura" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right"> -->
                <Column field="attributes.total_factura" footer-style="color:black" header="Total Factura" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }"> {{ formatNumber(slotProps.data.attributes.total_factura || 0) }}</span>
                    </template>
                </Column>
                <!-- <Column field="attributes.pagado" footer-style="color:black" :footer="formatNumber(meta.total_pagado)" header="Pagado" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right"> -->
                 <Column field="attributes.pagado" footer-style="color:black" header="Pagado" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }"> {{ formatNumber(slotProps.data.attributes.pagado || 0) }}</span>
                    </template>
                </Column>

                <Column field="attributes.estado" header="Estado" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <!-- {{ slotProps.data.attributes.estado == 1 ? 'VIGENTE' : 'ANULADO' }} -->
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 9 }">{{ slotProps.data.attributes.estado == 1 ? 'VIGENTE' : 'ANULADO' }}</span>
                    </template>
                </Column>
                <Column field="attributes.vendedor" header="Vendedor" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #header> </template>
                    <template #body="slotProps">
                        <span :class="{ anulado: slotProps.data.attributes.estado == 9 }">{{ slotProps.data.attributes.vendedor }}</span>
                    </template>
                </Column>
            </DataTable>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}

::v-deep(.p-datatable-tfoot tr) {
    color: black;
}

.anulado {
    text-decoration: line-through red;
    color: red; /* Cambia el color de fondo del input a rojo */
}

.columna-estado-anulado {
    color: red; /* Cambia el color del texto a rojo */
    /* Otros estilos específicos que desees aplicar a la celda */
}
</style>
