<script setup>
import { ref, onMounted } from 'vue';
import { getUsuarios } from '@/http/usuarios/usuarios-api';
import { formatNumber } from '@/utils/functions';
import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';

const registros = ref([]);
const totalRows = ref(0);
const actualPage = ref(1);
const search = ref(null);

const onSearch = async (searchValue) => {
    actualPage.value = 1;
    search.value = searchValue;

    await fetchData();
};

const onPage = async (e) => {
    actualPage.value = e.page + 1;
    await fetchData();
};

const fetchData = async () => {
    try {
        const data = await getUsuarios({
            pagina: actualPage.value,
            search: search.value
        });

        registros.value = data.data;

        //SE RESTA 20 POR LA DIFERENCIA DE OFFSET
        //  totalRows.value = data.meta.total_records - 20;
        totalRows.value = data.meta.total_records;
    } catch (error) {
        console.error('Error:', error);
    }
};

onMounted(fetchData);
</script>

<template>
    <div class="grid my-2">
        <div class="col-12">
            <h5 class="text-blue-500 text-2xl text-center">Usuarios del Sistema</h5>
            <SearchFilter @search="onSearch" @csv="onCSV" @add="onADD"></SearchFilter>
            <DataTable
                :value="registros"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer"
                :rows="20"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="55vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
                :currentPageReportTemplate="`{first} al {last} de {totalRecords} registros   -   Pagina: {currentPage} de {totalPages}`"
                @row-click="onRowClick"
            >
                <Column field="attributes.nombre" header="Nombre" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.nombre }}</span>
                    </template>
                </Column>
                <Column field="attributes.oficina" header="Oficina" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.oficina }}</span>
                    </template>
                </Column>
                <Column field="attributes.cargo" header="Cargo" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.cargo }}</span>
                    </template>
                </Column>
                <Column field="attributes.estado" header="Estado" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.estado == 'A' ? 'ACTIVO' : 'INACTIVO' }}</span>
                    </template>
                </Column>
                <Column field="id" header="ID" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.id }}</span>
                    </template>
                </Column>
                <Column field="attributes.cuenta" header="Cuenta" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm flex-1">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.cuenta }}</span>
                    </template>
                </Column>
                <Column field="attributes.sucursal" header="Suc." headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.sucursal }}</span>
                    </template>
                </Column>

                <Column field="attributes.celular" header="Celular" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.celular }}</span>
                    </template>
                </Column>
                <Column field="attributes.correo" header="Correo" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                    <template #body="slotProps">
                        <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 'I' }">{{ slotProps.data.attributes.correo }}</span>
                    </template>
                </Column>
            </DataTable>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}
.columna-estado-anulado {
    color: red; /* Cambia el color del texto a rojo */
    /* Otros estilos específicos que desees aplicar a la celda */
}
</style>
