<script setup>
import { ref, onMounted, reactive } from 'vue';
import { getComprasCSV, getCompras } from '@/http/compras/compras-api';
import { formatNumber, formatDateFilter } from '@/utils/functions';
// import DateRangeFilter from '@/components/headers/filters/DateRangeFilter.vue';
import SearchFilter from '@/components/headers/filters/SearchFilter.vue';
import router from '@/router';

const registros = ref([]);
const actualPage = ref(1);
const meta = reactive({ total_records: 0, summary: { total_factura: 0, total_pagado: 0 } });
// let initialDate = null;
// let finalDate = null;
const search = ref(null);

// const onSearch = async (ini, fin) => {
//     actualPage.value = 1;
//     // EB 18/07/2023 dejo de usar el formato del input, porque uso un componente calendario de PRIMEVUE https://primevue.org/calendar/ y porque no funciona si dejo ambos implementados
//     // initialDate = formatDateFilter(ini);
//     // finalDate = formatDateFilter(fin);
//     initialDate = ini;
//     finalDate = fin;

//     await fetchData();
// };

const onSearch = async (searchValue) => {
    actualPage.value = 1;
    search.value = searchValue;

    await fetchData();
};

const onCSV = async () => {
    /*await getComprasCSV({ search: search.value });*/
};

const onPage = async (e) => {
    actualPage.value = e.page + 1;
    await fetchData();
};

const fetchData = async () => {
    try {
        const data = await getCompras({
            pagina: actualPage.value,
            // fecha_desde: initialDate,
            // fecha_hasta: finalDate
            search: search.value
        });

        registros.value = data.data;

        //SE RESTA 20 POR LA DIFERENCIA DE OFFSET
        // meta.total_records = data.meta.total_records - 20;
        // 02/08/2023 EB, MUESTRO LA CANTIDAD DE REGISTROS SIN RESTAR DE A CUENTA INFO SE TRAE
        meta.total_records = data.meta.total_records;
        meta.summary.total_factura = data.meta.summary.total_factura;
        meta.summary.total_pagado = data.meta.summary.total_pagado;
    } catch (error) {
        console.error('Error:', error);
    }
};

const onRowClick = (event) => {
    const compraId = event.data.id;

    router.push({ name: 'compra', params: { id: compraId } });
};

onMounted(fetchData);
</script>

<template>
    <div class="grid my-2">
        <div class="col-12">
            <!-- <h5 class="text-center">Compras</h5> -->
            <h5 class="text-blue-500 text-2xl text-center">Compras</h5>
            <!-- <DateRangeFilter @search="onSearch"></DateRangeFilter> -->
            <SearchFilter @search="onSearch"></SearchFilter>
            <div v-if="spinner" class="flex flex-row justify-center">
                <ProgressSpinner strokeWidth="3" />
            </div>
            <div v-else>
                <DataTable
                    :value="registros"
                    :paginator="true"
                    lazy
                    class="p-datatable-sm cursor-pointer"
                    :rows="20"
                    :totalRecords="meta.total_records"
                    :rowHover="true"
                    @page="onPage($event)"
                    :scrollable="true"
                    scrollHeight="55vh"
                    scrollDirection="both"
                    responsiveLayout="scroll"
                    paginatorTemplate="RowsPerPageDropdown FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink"
                    :currentPageReportTemplate="`{first} al {last} de {totalRecords} registros   -   Pagina: {currentPage} de {totalPages}`"
                    @row-click="onRowClick"
                >
                    <Column field="attributes.fecha" header="Fecha" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm"></Column>
                    <Column field="attributes.factura" header="Factura" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                        <template #header> </template>
                        <template #body="slotProps">{{ slotProps.data.attributes.factura }} </template>
                    </Column>
                    <Column field="attributes.sucursal" header="Suc." headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                    <Column field="attributes.tipo" header="Tipo" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm">
                        <template #header> </template>
                        <template #body="slotProps">
                            {{ slotProps.data.attributes.tipo == 1 ? 'CONTADO' : 'CREDITO' }}
                        </template>
                    </Column>
                    <Column field="attributes.descripcion" header="Proveedor" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                        <template #body="slotProps">
                            <span :class="{ anulado: slotProps.data.attributes.estado == 9 }"> {{ slotProps.data.attributes.descripcion }}</span>
                        </template>
                    </Column>
                    <Column field="attributes.total_factura" footer-style="color:black" header="Total Factura" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                        <!-- :footer="formatNumber(meta.summary.total_factura)" -->
                        <template #header>
                            <div class="flex-1 text-right"></div>
                        </template>
                        <template #body="slotProps">
                            <span :class="{ anulado: slotProps.data.attributes.estado == 9 }"> {{ formatNumber(slotProps.data.attributes.total_factura || 0) }}</span>
                        </template>
                    </Column>
                    <Column field="attributes.estado" header="Estado" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm">
                        <template #header> </template>
                        <template #body="slotProps">
                            <span :class="{ 'columna-estado-anulado': slotProps.data.attributes.estado == 9 }">{{ slotProps.data.attributes.estado == 1 ? 'VIGENTE' : 'ANULADO' }}</span>
                        </template>
                    </Column>
                    <Column field="id" header="ID" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                </DataTable>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
@import '@/assets/demo/styles/badges.scss';

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
}

::v-deep(.p-datatable-tfoot tr) {
    color: black;
}
.anulado {
    text-decoration: line-through red;
    color: red; /* Cambia el color de fondo del input a rojo */
}

.columna-estado-anulado {
    color: red; /* Cambia el color del texto a rojo */
    /* Otros estilos específicos que desees aplicar a la celda */
}
</style>
