<script setup>
import { onMounted, computed, reactive, ref } from 'vue';
import { getParametrosGenerales } from '@/http/parametros/parametros-api';
import { getCompra } from '@/http/compras/compras-api';
import { useVuelidate } from '@vuelidate/core';
import { required, helpers } from '@vuelidate/validators';
import { useToast } from 'primevue/usetoast';
import router from '@/router';
import { messages } from '@/utils/validations/messages';
import FormButtons from '@/components/buttons/FormButtonsABM.vue';
import ErrorMessages from '@/components/errors/ErrorMessages.vue';
import { onClose } from '@/utils/functions';
import { TIME_CLOSE } from '@/global/global.js';
import AsientosComponent from '@/components/accounting/AsientosComponent.vue';
import { useProveedoresStore } from '@/stores/dropdowns/proveedorDropdown';
import { formatNumber } from '@/utils/functions';

let id = router.currentRoute.value.params.id;

// Usa la función para crear una instancia del store
const proveedorStore = useProveedoresStore();

const form = reactive({ master: {}, detail: [] });

const toast = useToast();

const showMessages = reactive({
    success: false,
    error: false,
    delete: false
});

const empresaCont = ref('');

const errorMessage = ref('');

const fetchData = async () => {
    try {
        const data = await getCompra({ id });

        form.master = { ...data.data.attributes };
        form.detail = data.data.relationships.detalles.data.map((element, i) => {
            return { ...element.attributes, rowNum: i + 1 };
        });
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const handleFetchEmpresaContable = async () => {
    try {
        const empresaContableIndex = await getParametrosGenerales();

        empresaCont.value = empresaContableIndex.data.attributes.empresa_contable;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const summary = computed(() => {
    let sums = {
        ivaincluido: 0,
        exento: 0,
        subtotalGeneral: 0
    };

    form.detail.forEach((compra) => {
        const montoGravado = parseInt(compra.monto_gravado) || 0;
        const montoExento = parseInt(compra.monto_exento) || 0;

        sums.ivaincluido += montoGravado;
        sums.exento += montoExento;
        sums.subtotalGeneral = sums.exento + sums.ivaincluido;
    });

    return sums;
});


const items = ref([
    {
        label: 'Ver Ficha del Proveedor',
        icon: 'fas fa-user',
        command: () => {
            onShowFichaProveedor();
        }
    },
     
    {
        label: 'Ver Plan de Pago',
        icon: 'pi pi-trash',
        command: () => {
            onShowPlanPago();
        }
    } 
]);

const onShowFichaProveedor = (event) => {
    router.push({ name: 'proveedor', params: { id: form.master.proveedor } });
};

const onShowPlanPago = () => {
    router.push({ name: 'plan-pago/compra', params: { id } });
};

const onShowAsiento = () => {
    const anio = form.master.asiento_ejercicio;
    //const empresa = empresaCont.value;
    const empresa = form.master.empresaContable;
    const asiento = form.master.asiento_numero;

    router.push({ name: 'asientos', params: { anio, empresa, asiento } });
};

const initializeComponent = async () => {
    try {
        //await handleFetchEmpresaContable();
        await fetchData();
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

onMounted(async () => {
    await initializeComponent();
    try {
        await proveedorStore.fetchProveedores(); // Esta línea llama a la función del store
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
});
</script>

<template>
    <div class="px-1 col-12">
        <div class="p-fluid formgrid mb-2">
            <div class="card surface-300 bg-white">
                <h5 class="text-blue-500 text-2xl text-center">Compras de Mercaderias</h5>

                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">Compra ID</label>
                        <InputText v-model="form.master.compra_id" id="" type="text" class="text-xs text-center" disabled />
                    </div>
                    <div class="field col-12 md:col-5 px-1">
                        <label for="">Proveedor</label>
                        <Dropdown inputClass="text-xs font-normal" filter v-model="form.master.proveedor" :options="proveedorStore.proveedores" optionLabel="combined" optionValue="code" placeholder="Seleccione un proveedor">
                            <template #option="slotProps">
                                <div class="not-bold text-xs">{{ slotProps.option.combined }}</div>
                            </template>
                        </Dropdown>
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Tipo</label>
                        <!-- <InputText v-model="form.master.tipo" id="tipo" :value="form.master.tipo == 1 ? 'CONTADO' : 'CREDITO'" type="text" class="text-xs text-center" /> -->
                        <Dropdown
                            class="text-xs"
                            id=""
                            v-model="form.master.tipo"
                            :options="[
                                { name: 'CONTADO', code: 1 },
                                { name: 'CREDITO', code: 2 }
                            ]"
                            optionLabel="name"
                            optionValue="code"
                            placeholder=""
                            :style="{ width: '100%' }"
                        ></Dropdown>
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Nro. Factura</label>
                        <InputText v-model="form.master.factura" id="nombreComercial" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Fecha</label>
                        <Calendar v-model="form.master.fecha" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Vencimiento</label>
                        <Calendar v-model="form.master.fecha" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Timbrado</label>
                        <InputNumber input-class="text-center" v-model="form.master.timbrado" :minFractionDigits="0" :maxFractionDigits="10" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Vto. Timbrado</label>
                        <Calendar v-model="form.master.vto_timbrado" inputClass="text-center" dateFormat="dd/mm/yy" id="" showIcon />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">C.M.E.</label>
                        <InputNumber id="cotizacion" input-class="text-right" v-model="form.master.cotizacion" :minFractionDigits="0" :maxFractionDigits="5" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">Lote</label>
                        <InputText v-model="form.master.lote" id="" type="text" class="text-xs text-center" />
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">Sucursal</label>
                        <InputText v-model="form.master.sucursal" id="sucursal" type="text" class="text-xs text-center" />
                    </div>

                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Estado</label>
                        <!-- <InputText v-model="form.master.estado" id="estado" :value="form.master.estado == 1 ? 'ACTIVO' : 'INACTIVO'" class="text-xs text-center" /> -->
                        <Dropdown
                            class="text-xs text-center"
                            id=""
                            v-model="form.master.estado"
                            :options="[
                                { name: 'VIGENTE', code: '1' },
                                { name: 'ANULADO', code: '9' }
                            ]"
                            optionLabel="name"
                            optionValue="code"
                            placeholder=""
                            :style="{ width: '100%' }"
                        ></Dropdown>
                    </div>
                    <div class="field col-12 md:col-1 px-1 text-center">
                        <label for="">Cuotas</label>
                        <InputNumber input-class="text-center" v-model="form.master.cuotas" />
                    </div>
                    <div class="field col-12 md:col-12 px-1">
                        <label for="notas">Notas</label>
                        <Textarea v-model="form.master.notas" rows="2" cols="" id="" type="text" class="text-xs" />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-right">
                        <label for="">Total Factura</label>
                        <InputNumber input-class="text-right" v-model="form.master.totalFactura" :minFractionDigits="0" :maxFractionDigits="12" disabled />
                    </div>
                    <div class="field col-12 md:col-2 px-1 text-right">
                        <label for="">Total Pagos</label>
                        <InputNumber input-class="text-right" v-model="form.master.totalPagos" :minFractionDigits="0" :maxFractionDigits="12" disabled />
                    </div>

                    <div class="field col-12 md:col-2 px-1 text-center">
                        <label for="">Fecha de Alta</label>
                        <InputText v-model="form.master.fecha_alta" id="" type="text" class="text-xs text-center" disabled />
                    </div>
                    <div class="field col-12 md:col-3 px-1 text-center">
                        <label for="">Usuario Alta</label>
                        <InputText v-model="form.master.usuario" id="" type="text" class="text-xs text-center" disabled />
                    </div>
                </div>
            </div>
        </div>

        <AsientosComponent class="py-3 mb-2" @show="onShowAsiento" :asiento="{ asientoNumero: form.master.asiento_numero, asientoEjercicio: form.master.asiento_ejercicio, empresaContable: form.master.empresaContable }"> </AsientosComponent>

        <div class="card surface-300 bg-white">
            <h5 class="text-blue-500 text-base">Información del Detalle</h5>
            <DataTable
                :value="form.detail"
                :paginator="true"
                lazy
                class="p-datatable-sm cursor-pointer text-black"
                :rows="100"
                :totalRecords="totalRows"
                :rowHover="true"
                @page="onPage($event)"
                :scrollable="true"
                scrollHeight="35vh"
                scrollDirection="both"
                responsiveLayout="scroll"
                @row-click="onRowClick"
            >
                <Column field="rowNum" header="Item" headerClass="text-white bg-blue-500 text-sm text-center" bodyClass=" text-black text-sm text-center" class="text-center"> </Column>
                <Column field="producto" header="Prod." headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="nombre_comercial" header="Nombre Comercial" headerClass="text-white bg-blue-500 text-sm shadow" bodyClass=" text-black text-sm"></Column>
                <Column field="cantidad" header="Cantidad" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.cantidad || 0) }}
                    </template>
                </Column>
                <Column field="" header="Precio Unitario" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.precio_unitario || 0) }}
                    </template>
                </Column>

                <Column field="" header="Exentas" :footer="formatNumber(summary.exento)" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.monto_exento) }}
                    </template>
                </Column>
                <Column field="" header="IVA Incluido" :footer="formatNumber(summary.ivaincluido)" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.monto_gravado) }}
                    </template>
                </Column>
                <Column field="" header="IVA" footerClass="black-text" headerClass="text-white bg-blue-500 text-sm" bodyClass=" text-black text-sm" class="text-right">
                    <template #header>
                        <div class="flex-1 text-right"></div>
                    </template>
                    <template #body="slotProps">
                        {{ formatNumber(slotProps.data.iva || 0) }}
                    </template>
                </Column>
            </DataTable>
            <h5 class="text-right text-blue-500 text-2xl">Total General: {{ formatNumber(summary.subtotalGeneral) }}</h5>
        </div>
    </div>
    <FormButtons @close="onClose()">
            <template #start>
                <div :style="{ position: 'relative', height: '50px' }">
                    <SplitButton label="Útiles" :model="items" icon="pi pi-plus" @click="save" rounded class="mb-2"></SplitButton>
                </div>
            </template>
    </FormButtons>
</template>

<style scoped>
label {
    /* tamaño de titulos de campos */
    color: var(--blue-500) !important;
    font-size: 11px;
}

.text-xs {
    color: black !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

::v-deep(.black-text) {
    color: black !important;
}

::v-deep(.p-dropdown span) {
    color: black !important;
    font-size: 15px !important;
    /* font-size: 1.025em; */
    /* font-weight: bold; */
}

::v-deep(.p-datatable-frozen-tbody) {
    font-weight: bold;
}

::v-deep(.p-datatable-scrollable .p-frozen-column) {
    font-weight: bold;
}

::v-deep(.p-datatable .p-datatable-tbody > tr) {
    color: black;
    font-size: 15px !important;
}

.columna-estado-anulado {
    color: red; /* Cambia el color del texto a rojo */
    /* Otros estilos específicos que desees aplicar a la celda */
}
</style>
