<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportHeaderWithRange @apply-filters="handleFilters" @clear-filters="handleFilters" class="headerFilter">
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 mx-4 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportHeaderWithRange>
        </div>

        <div id="print-content" class="flex-grow-1 overflow-y-auto max-h-2-rem">
            <GenericIndexReportGenerator :data="cuentasContables" :headers="columns" :title="empresa" subtitle="Libro Iva Compras" :filter="filter" />
        </div>
        <div v-if="isLoading" class="flex justify-content-center align-items-center h-30rem">
            <ProgressSpinner></ProgressSpinner>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import GenericIndexReportGenerator from '@/components/reports/GenericIndexReportGenerator.vue';
import IndexAndReportHeaderWithRange from '@/components/headers/IndexAndReportHeaderWithRange.vue';
import { getIvaCompras } from '@/http/iva/iva-api';
import { formatNumber } from '@/utils/reports/format.js';
import { onClose } from '@/utils/functions';
import ProgressSpinner from 'primevue/progressspinner';

const cuentasContables = ref([]);
const isLoading = ref(false);
const title = ref(null);
const subtitle = ref(null);
const empresa = ref(null);
const filter = ref(null);

const columns = ref([
    { title: 'Fecha', key: 'fecha', summable: false, width: '0%' },
    { title: 'Tipo', key: 'tipo', summable: false, align: 'center', width: '0%' },
    { title: 'Nro. Doc.', key: 'factura', summable: false, align: 'center', width: '7%' },
    { title: 'Razón Social', key: 'nombre', summable: false, align: 'left', width: '15%' },
    { title: 'R.U.C.', key: 'ruc', summable: false, align: 'left', width: '8%' },
    { title: 'Gravadas 5%', key: 'gravado5', summable: true, align: 'right', width: '10%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'I.V.A. 5%', key: 'iva5', summable: true, align: 'right', width: '10%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Gravadas 10%', key: 'gravado10', summable: true, align: 'right', width: '10%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'I.V.A. 10%', key: 'iva10', summable: true, align: 'right', width: '10%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Exentas', key: 'exentas', summable: true, align: 'right', width: '10%', useThousandsSeparator: true, decimalPlaces: 0 },
    { title: 'Total', key: 'importe', summable: true, align: 'right', width: '20%', useThousandsSeparator: true, decimalPlaces: 0 }
]);

const printClick = () => {
    window.print();
};

const handleFilters = (filters) => {
    updateSubtitle(filters);
    fetchData(filters);
};

const updateSubtitle = (filters) => {
    if (filters) {
        filter.value = `Filtro:  desde: ${filters?.desde} - hasta: ${filters?.hasta} `;
    } else {
        filter.value = `Filtro:  desde: ${''} - hasta: ${''} `;
    }
};

const fetchData = async (filters = null) => {
    isLoading.value = true;
    const response = await getIvaCompras({
        desde: filters?.desde,
        hasta: filters?.hasta
    });
    isLoading.value = false;

    // Destructuring para obtener directamente response.data.data
    const {
        data: { data: items, meta }
    } = response;

    // Mapea los items para aplanar la estructura
    cuentasContables.value = items.map((item) => {
        let formattedItem = {
            id: item.id,
            ...item.attributes
        };

        columns.value.forEach((column) => {
            if (column.useThousandsSeparator !== undefined && column.decimalPlaces !== undefined) {
                formattedItem[column.key] = formatNumber(item.attributes[column.key], column.useThousandsSeparator, column.decimalPlaces);
            }
        });

        return formattedItem;
    });

    empresa.value = meta.nombreEmpresa;
};

onMounted(async () => {
    //await fetchData();
});
</script>

<style scoped>
.max-h-74vh {
    max-height: 74vh;
}

@media print {
    /* Paso 1: Oculta todo durante la impresión */
    body > * {
        display: none !important;
    }

    /* Paso 2: Muestra sólo el contenido que quieres imprimir */
    #print-content {
        display: block !important;
    }
}
</style>
