<script setup>
import { useLayout } from '@/layout/composables/layout';
import { computed } from 'vue';

const { layoutConfig } = useLayout();

const logoUrl = computed(() => {
    return `ag/images/logo.jpeg`;
});
</script>

<template>
    <div class="layout-footer">
        <!-- <img :src="logoUrl" alt="Logo" height="20" class="mr-2" /> -->
        <!-- by palabra antes de AG SRL-->
        <!-- <span class="font-medium ml-2">v231103</span> -->
    </div>
</template>
<style lang="scss" scoped></style>
