<template>
    <div class="flex flex-column max-h-74vh">
        <div class="flex-grow-0">
            <IndexAndReportFiltersGeneric @apply-filters="handleFilters" @clear-filters="handleFilters" class="headerFilter">
                <template #additional-filters="slotProps">
                    <div class="flex flex-row gap-2">
                        <div>
                            <label for="" class="text-primary">Desde:</label>
                            <Calendar v-model="desde" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="Desde" class="w-full md:w-10rem"></Calendar>
                        </div>

                        <div>
                            <label for="" class="text-primary">Hasta:</label>
                            <Calendar v-model="hasta" id="fecha_desde" dateFormat="dd/mm/yy" :showIcon="true" placeholder="hasta" class="w-full md:w-10rem"></Calendar>
                        </div>
                        <div>
                            <label for="" class="text-primary">Tipos de Mov.:</label>
                            <MultiSelect filter v-model="centrosCostosSelected" optionValue="code" optionLabel="name" :options="tiposMovimiento" class="w-full md:w-10rem" />
                        </div>
                    </div>
                </template>
                <template #buttons>
                    <Button icon="pi pi-print" class="bg-blue-600 text-white hover:bg-blue-700 border-blue-800 transition-colors transition-duration-150" @click="printClick" :key="1"></Button>
                    <Button icon="pi pi-backward" class="bg-red-600 text-white hover:bg-red-700 border-red-800 square-btn transition-colors transition-duration-150" @click="onClose" :key="2" />
                </template>
            </IndexAndReportFiltersGeneric>
        </div>

        <div class="invoice-wrapper">
            <div v-if="!isLoading" id="invoice-content">
                <table class="invoice-table container mx-auto p-4 border-collapse">
                    <colgroup>
                        <col class="col-2" />
                        <col class="col-1" />
                        <col class="col-1" />
                        <col class="col-3" />
                        <col class="col-5" />

                        <col class="col-1" />
                        <col class="col-2" />
                        <col class="col-1" />
                    </colgroup>
                    <thead class="bordered-header py-2 roboto-mono">
                        <ReportHeader colspan="9" :empresa="empresa" :subtitle="subtitle" :filter="filter"></ReportHeader>
                        <tr class="header bg-white">
                            <th class="py-2 text-left">Fecha</th>
                            <th class="text-left">Número</th>
                            <th class="text-left">Suc.</th>
                            <th class="text-left">Tipo</th>
                            <th class="text-left">Notas</th>
                            <th class="text-left"></th>
                            <th class="text-right"></th>
                            <th class="text-right"></th>
                            <th class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody v-for="groupKey in Object.keys(groupedData)" :key="groupKey" class="avoid-page-break roboto-mono">
                        <template v-for="(item, index) in groupedData[groupKey]" :key="item.id">
                            <tr v-if="index === 0" class="bg-white">
                                <td>{{ item.fecha }}</td>
                                <td>{{ item.numero }}</td>
                                <td>{{ item.sucursal }}</td>
                                <td>{{ item.tipo }}</td>
                                <td>{{ item.notas }}</td>
                                <td>{{}}</td>
                                <td>{{}}</td>
                                <td>{{}}</td>
                                <td class="text-right">{{}}</td>
                            </tr>
                        </template>

                        <tr class="bg-white roboto-mono">
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left border-bottom-1">ID</th>
                            <th class="text-left border-bottom-1">Descripción</th>
                            <th class="text-right border-bottom-1">Cantidad</th>
                            <th class="text-right border-bottom-1">Costo</th>
                            <th class="text-right border-bottom-1"></th>
                            <th class="text-right border-bottom-1">Valor</th>
                        </tr>

                        <tr v-for="(item, index) in groupedData[groupKey]" :key="item.id" class="bg-white roboto-mono">
                            <td class="text-left"></td>
                            <td class="text-left"></td>
                            <td class="text-left"></td>
                            <td class="text-left">{{ item.producto }}</td>
                            <td class="text-left">{{ item.nombre_comercial }}</td>
                            <td class="text-right">{{ formatNumber(item.cantidad, true, 0) }}</td>
                            <td class="text-right">{{ formatNumber(item.precio_costo, true, 0) }}</td>
                            <td class="text-right">{{}}</td>
                            <td class="text-right">{{ formatNumber(item.precio_costo * item.cantidad, true, 0) }}</td>
                        </tr>
                        <tr class="bg-white border-bottom-0 roboto-mono">
                            <td class="py-1"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right border-top-1">{{ formatNumber(computeGroupTotal(groupKey, 'cantidad'), true, 0) }}</td>
                            <td class="border-top-1"></td>
                            <td class="border-top-1"></td>
                            <td class="border-top-1"></td>
                        </tr>
                        <tr>
                            <td class="py-1"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right border-top-1"></td>
                            <td class="text-right border-top-1"></td>
                            <td class="text-right border-top-1"></td>
                            <td class="text-right border-top-1"></td>
                        </tr>
                    </tbody>
                    <tfoot class="print-footer">
                        <tr class="border-top-1 border-bottom-1 bg-white roboto-mono">
                            <td colspan="5"><strong>Totales:</strong></td>
                            <td class="text-right">
                                <strong>{{ formatNumber(computeTotal('cantidad'), true, 0) }}</strong>
                            </td>
                            <td colspan="2"></td>
                            <td class="text-right">
                                <strong>{{ formatNumber(computeTotal('subtotal'), true, 0) }}</strong>
                            </td>
                        </tr>
                        <tr class="border-top-1 border-bottom-1 bg-white roboto-mono">
                            <td class="text-left" colspan="8"><strong>Fin del Listado</strong></td>
                            <td class="text-right">www.puntodeventa.com.py</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div v-else class="flex justify-content-center align-items-center h-30rem">
                <ProgressSpinner></ProgressSpinner>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted, reactive } from 'vue';
import IndexAndReportHeaderWithRange from '@/components/headers/IndexAndReportHeaderWithRange.vue';
import { cleanFormattedNumber, formatNumber } from '@/utils/reports/format';
import { useEmpresaStore } from '@/stores/empresaStore';
import { getEspecialesDetalles, getTiposMovimientosDropdown } from '@/http/movimientosEspeciales/especiales-api';
import { getItemsAndMetaFromData, mapItemsToIndexFormat } from '@/utils/transformers/fetchTransformers';
import ReportHeader from '@/components/headers/ReportHeader.vue';
import { onClose } from '@/utils/functions';
import { useClientesStore } from '@/stores/dropdowns/clienteDropdown';
import IndexAndReportFiltersGeneric from '@/components/headers/IndexAndReportFiltersGeneric.vue';
import { useFamiliasStore } from '@/stores/dropdowns/familiaDropdown';
import ProgressSpinner from 'primevue/progressspinner';

const empresaStore = useEmpresaStore();
const clienteStore = useClientesStore();
const empresa = ref('');
const subtitle = 'Detalle de Movimientos Especiales';
const centrosCostosSelected = ref([]);
const libroDiarioIndex = ref([]);
const groupedData = ref({});
const filter = ref('');
const familiaStore = useFamiliasStore();
const isLoading = ref(false);

const desde = ref(new Date());
const hasta = ref(new Date());
const tiposMovimiento = ref([]);
const handleFetchTiposMovimiento = async () => {
    try {
        const tiposMovimientoIndex = await getTiposMovimientosDropdown();
        tiposMovimiento.value = tiposMovimientoIndex;
    } catch (error) {
        toast.add({ severity: 'error', summary: 'Error', detail: error.response.data.message });
    }
};

const formatDate = (date) => {
    if (typeof date !== 'string') {
        return null; // Manejar casos en los que date no sea una cadena
    }
    return date.substring(0, 10);
};
const groupBy = (array, keys) => {
    return array.reduce((acc, obj) => {
        let key = keys.map((k) => obj[k]).join('***');
        if (!acc[key]) acc[key] = [];
        acc[key].push(obj);
        return acc;
    }, {});
};

const computeGroupTotal = (groupKey, field) => groupedData.value[groupKey].reduce((acc, obj) => acc + parseFloat(obj[field] || 0), 0);

const computeTotal = (field) => libroDiarioIndex.value.reduce((acc, obj) => acc + parseFloat(obj[field] || 0), 0);

const printClick = () => window.print();

const handleFilters = (filters) => {
    const combinedFilters = {
        ...filters,
        desde: formatDate(desde.value.toISOString()),
        hasta: formatDate(hasta.value.toISOString()),
        tipo: centrosCostosSelected.value
    };

    updateSubtitle(combinedFilters);
    fetchData(combinedFilters);
};

const updateSubtitle = (filters) => {
    if (!filters) {
        return;
    }

    const tipo = filters.id && filters.tipo.length ? (filters.tipo.length > 1 ? '...' : filters.tipo[0]) : '-';

    let baseSubtitle = 'Filter';
    let dateSubtitle = `- Desde: ${filters.desde || '-'} - Hasta: ${filters.hasta || '-'} - Tipo: ${filters.tipo} `;

    filter.value = `${baseSubtitle} ${dateSubtitle}  `;
};

const fetchData = async (filters) => {
    isLoading.value = true;
    const response = await getEspecialesDetalles({ desde: filters?.desde, hasta: filters?.hasta, tipo: filters?.tipo });
    isLoading.value = false;
    let { items } = getItemsAndMetaFromData(response);

    libroDiarioIndex.value = mapItemsToIndexFormat(items);

    libroDiarioIndex.value = response.data.data.map((item) => ({
        id: item.id,
        ...item.attributes
    }));

    groupedData.value = groupBy(libroDiarioIndex.value, ['numero']);
};

onMounted(async () => {
    await empresaStore.fetchEmpresa(); // Asume que fetchEmpresa es asíncrono. Si no lo es, simplemente elimina el async/await.
    empresa.value = empresaStore.empresa.nombre;
    await handleFetchTiposMovimiento();
    //await fetchData();
});
</script>

<style scoped>
.roboto-mono {
    font-family: 'Roboto Mono', monospace !important;

    font-size: 0.875rem !important;
}

.max-h-74vh {
    max-height: 74vh;
}

.bordered-header th {
    border-top: 1px solid black;
    border-bottom: 1px solid black; /* Hice el borde inferior un poco más grueso para que destaque más, pero puedes ajustarlo según tus preferencias */
}

.border-collapse {
    border-collapse: collapse;
}

.bordered-header th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

@media print {
    .invoice-wrapper {
        page-break-before: avoid;
        page-break-after: avoid;
    }

    .invoice-table {
        page-break-inside: auto;
    }

    /* Configuramos el tfoot como pie de tabla */
    .invoice-table tfoot {
        display: table-footer-group;
    }

    .invoice-table tfoot {
        display: table-row-group;
        page-break-after: avoid;
        page-break-before: avoid;
    }

    .avoid-page-break {
        page-break-inside: avoid;
    }
}
</style>
